# We need to extend the permissions of the Grafana serviceaccount to watch for configmaps
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: sidecar-role
rules:
  - apiGroups: [""]
    resources: ["configmaps"]
    verbs: ["get", "watch", "list"]
---
# We bind the new permissions to the grafana-sa
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: sidecar-rolebinding
roleRef:
  kind: ClusterRole
  name: sidecar-role
  apiGroup: rbac.authorization.k8s.io
subjects:
  - kind: ServiceAccount
    name: grafana-sa
    namespace: grafana-operator
---
apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana
  labels:
    dashboards: "grafana"
spec:
  deployment:
    spec:
      template:
        spec:
          containers:
            - name: grafana
              env:
                - name: AUTH_CLIENT_ID
                  valueFrom:
                    secretKeyRef:
                      name: grafana-oauth
                      key: client-id
                - name: AUTH_CLIENT_SECRET
                  valueFrom:
                    secretKeyRef:
                      name: grafana-oauth
                      key: client-secret
  config:
    news:
      news_feed_enabled: "false"
    server:
      root_url: https://grafana.g4v.dev
    log:
      mode: console
    analytics:
      check_for_updates: "false"
      check_for_plugin_updates: "false"
      reporting_enabled: "true"
    auth:
      disable_login_form: "true"
      signout_redirect_url: https://auth.g4v.dev/application/o/grafana/end-session/
      oauth_allow_insecure_email_lookup: "true"
    auth.anonymous:
      enabled: "false"
      org_name: Main Org.
      org_role: Viewer
      hide_version: "true"
    auth.generic_oauth:
      auto_login: "true"
      name: authentik
      enabled: "true"
      scopes: openid email profile offline_access groups
      email_attribute_path: email
      login_attribute_path: preferred_username
      name_attribute_path: name
      client_id: ${AUTH_CLIENT_ID}
      client_secret: ${AUTH_CLIENT_SECRET}
      auth_url: https://auth.g4v.dev/application/o/authorize/
      token_url: https://auth.g4v.dev/application/o/token/
      api_url: https://auth.g4v.dev/application/o/userinfo/
      # Optionally map user groups to Grafana roles
      role_attribute_path: contains(groups[*], 'Grafana Admins') && 'Admin' || contains(groups[*], 'Grafana Editors') && 'Editor' || 'Viewer'
  httpRoute:
    spec:
      parentRefs:
        - name: http-gateway
          namespace: envoy-gateway
          sectionName: https
      hostnames:
        - grafana.g4v.dev
      rules:
        - backendRefs:
            - name: grafana-service
              port: 3000
