controllers:
  music-assistant:
    strategy: Recreate
    pod:
      hostNetwork: true
    containers:
      music-assistant:
        image:
          repository: ghcr.io/music-assistant/server
          tag: 2.7.9
        env:
          TZ: America/Vancouver
          LOG_LEVEL: "info"
        securityContext:
          privileged: true
          capabilities:
            add:
              - SYS_ADMIN
              - CAP_SYSLOG
              - NET_BIND_SERVICE
              - DAC_READ_SEARCH
        probes:
          liveness:
            enabled: false
          readiness:
            enabled: false
          startup:
            enabled: false
            spec:
              failureThreshold: 30
              periodSeconds: 5
        resources:
          requests:
            cpu: 50m
            memory: 512Mi
service:
  music-assistant:
    controller: music-assistant
    ports:
      http:
        port: 8095
      internal:
        port: 8123
  stream:
    enabled: true
    controller: music-assistant
    type: LoadBalancer
    loadBalancerIP: 172.16.10.207
    externalTrafficPolicy: Cluster
    annotations:
      kube-vip.io/loadbalancerIPs: 172.16.10.207
      lbipam.cilium.io/ips: 172.16.10.207
    ports:
      stream:
        enabled: true
        port: 8097
      stream2:
        enabled: true
        port: 8098
      airplay:
        enabled: true
        port: 5000
route:
  main:
    enabled: true
    parentRefs:
      - name: http-gateway
        namespace: envoy-gateway
        sectionName: https
    hostnames:
      - "music-assistant.g4v.dev"
    rules:
      - matches:
        - path:
            type: PathPrefix
            value: /
        backendRefs:
          - group: ''
            kind: Service
            identifier: music-assistant
            port: http
            weight: 1
persistence:
  data:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 5Gi
    storageClass: longhorn
    globalMounts:
      - path: /data
  audio:
    type: nfs
    server: 172.16.10.10
    path: /volume1/Audio
  music:
    type: nfs
    server: 172.16.10.10
    path: /volume1/Audio/Music
  podcasts:
    type: nfs
    server: 172.16.10.10
    path: /volume1/Audio/Podcasts
  comedians:
    type: nfs
    server: 172.16.10.10
    path: /volume1/Audio/Comedians
  books:
    type: nfs
    server: 172.16.10.10
    path: /volume1/Audio/Audio Books/
