app-template:
  controllers:
    main:
      type: cronjob
      revisionHistoryLimit: 1
      annotations:
        reloader.stakater.com/auto: 'true'
      cronjob:
        schedule: '0 */12 * * *'
        ttlSecondsAfterFinished: 86400
        successfulJobsHistory: 3
        failedJobsHistory: 2
        backoffLimit: 1
      containers:
        zap2xml:
          image:
            repository: ghcr.io/halkeye/zap2xml
            tag: 29f9bf340d95dae32ccc4fa9af6875ad5d3f0733
          command:
            - sh
            - -c
            - /zap2xml.pl -u "$USERNAME" -p "$PASSWORD" -U -o "/data/xmltv.xml" -c "/data/cache" -I -D -F -a
          env:
            TZ: America/Vancouver
          envFrom:
            - secretRef:
                name: '{{.Release.Name}}-secret'
  persistence:
    data:
      enabled: true
      type: nfs
      server: 172.16.10.10
      path: '/volume1/Apps/zap2xml'
