---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmGlobals:
  chartHome: ./charts/

generatorOptions:
  disableNameSuffixHash: true

helmCharts:
  - name: app-template
    version: 4.4.0
    repo: https://bjw-s-labs.github.io/helm-charts
    valuesFile: ./values.yaml
    releaseName: slskd

resources:
  - ./secret.enc.yaml

configMapGenerator:
  - name: slskd-config
    files:
      - ./resources/slskd.yml
      - ./resources/slskd_to_betanin.sh
