---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  main:
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      main:
        image:
          repository: ghcr.io/slskd/slskd
          tag: 0.24.1
        env:
          TZ: America/Vancouver
          DOTNET_BUNDLE_EXTRACT_BASE_DIR: /tmp/.net
          SLSKD_APP_DIR: /config
          SLSKD_HTTP_PORT: 5080
          SLSKD_NO_AUTH: true
          SLSKD_NO_HTTPS: true
          SLSKD_SLSK_LISTEN_PORT: 50300
          BETANIN_URL: https://beets.g4v.dev
          SHELL: /bin/bash
        envFrom:
          - secretRef:
              name: slskd-secret
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /health
                port: 5080
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop: ["ALL"]
        resources:
          requests:
            cpu: 10m
            memory: 128Mi
          limits:
            memory: 1Gi
    pod:
      securityContext:
        runAsUser: 1026
        runAsGroup: 100
        runAsNonRoot: true
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
service:
  main:
    controller: main
    ports:
      http:
        port: 5080
  soulseek:
    controller: main
    type: LoadBalancer
    loadBalancerIP: 172.16.10.206
    ports:
      soulseek:
        enabled: true
        port: 50300
        protocol: TCP
ingress:
  main:
    enabled: true
    annotations:
      gethomepage.dev/enabled: "false"
    hosts:
      - host: slskd.g4v.dev
        paths:
          - path: /
            service:
              identifier: main
              port: http
persistence:
  config:
    enabled: true
    accessMode: ReadWriteOnce
    size: 1Gi
    storageClass: longhorn
  config-file:
    type: configMap
    name: slskd-config
    defaultMode: 0755
    globalMounts:
      - path: /config/slskd.yml
        subPath: slskd.yml
        readOnly: true
      - path: /config/slskd_to_betanin.sh
        subPath: slskd_to_betanin.sh
        readOnly: true
  tmp:
    type: emptyDir
  music:
    type: nfs
    server: 172.16.10.10
    path: /volume1/Audio/Music
    globalMounts:
      - path: /music
  downloads:
    type: nfs
    server: 172.16.10.10
    path: "/volume1/Downloads"
    globalMounts:
      - path: /downloads
