---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmGlobals:
  chartHome: ./charts/

generatorOptions:
  disableNameSuffixHash: true

helmCharts:
  - name: traefik
    version: 37.3.0
    repo: https://helm.traefik.io/traefik
    valuesFile: values.yaml
    releaseName: traefik-ingress

resources:
  - templates/middleware-authentik.yaml
  - templates/certificate.yaml
