---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmGlobals:
  chartHome: ./charts/

generatorOptions:
  disableNameSuffixHash: true

helmCharts:
  - name: snapshot-controller
    version: 5.0.0
    repo: https://piraeus.io/helm-charts/
    valuesFile: ./values.yaml
    releaseName: snapshot-controller

resources:
  - ./secret.enc.yaml
