---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
defaultPodOptions:
  securityContext:
    runAsUser: 1000
    runAsGroup: 1000
    runAsNonRoot: true
    supplementalGroups:
      - 992
    fsGroup: 1000
    fsGroupChangePolicy: "OnRootMismatch"

controllers:
  ollama:
    replicas: 1
    annotations:
      reloader.stakater.com/auto: 'true'
    containers:
      main:
        image:
          repository: docker.io/ollama/ollama
          tag: 0.16.1-rocm
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop: ["ALL"]
        env:
          TZ: America/Vancouver
          OLLAMA_HOST: 0.0.0.0
#          OLLAMA_ORIGINS: "*"
          OLLAMA_MODELS: "/models"
#          OLLAMA_KEEP_ALIVE: "24h"
#          OLLAMA_LOAD_TIMEOUT: "600"
        lifecycle:
          postStart:
            exec:
              command: [ "/bin/sh", "-c", "ollama pull gemma3; ollama pull deepseek-r1; ollama pull llama3.2; ollama pull mistral; ollama pull qwen3:4b" ]
        resources:
          requests:
            cpu: 500m
            memory: 24Gi
          limits:
            amd.com/gpu: 1
  webui:
    replicas: 1
    annotations:
      reloader.stakater.com/auto: 'true'
    containers:
      main:
        image:
          repository: ghcr.io/open-webui/open-webui
          tag: v0.8.0
        envFrom:
          - secretRef:
              name: "open-webui-secret"
        env:
          TZ: America/Vancouver
          DATABASE_URL:
            valueFrom:
              secretKeyRef:
                name: "open-webui-db-secret-open-webui"
                key: POSTGRES_URL

          CORS_ALLOW_ORIGIN: https://ai.g4v.dev
          DEFAULT_USER_ROLE: "user"
          ENABLE_LOGIN_FORM: "false"
          ENABLE_OAUTH_GROUP_CREATION: "true"
          ENABLE_OAUTH_GROUP_MANAGEMENT: "true"
          ENABLE_OAUTH_ROLE_MANAGEMENT: "true"
          ENABLE_OAUTH_SIGNUP: "true"
          ENABLE_OLLAMA_API: "True"
          ENABLE_OPENAI_API: "False"
          ENABLE_RAG_WEB_SEARCH: true
          ENABLE_SEARCH_QUERY: true
          ENABLE_WEBSOCKET_SUPPORT: "true"
          OAUTH_ADMIN_ROLES: "admins"
          OAUTH_ALLOWED_ROLES: "users, admins"
          OAUTH_MERGE_ACCOUNTS_BY_EMAIL: "true"
          OAUTH_PICTURE_CLAIM: ""
          OAUTH_PROVIDER_NAME: "G4V"
          OAUTH_ROLES_CLAIM: "groups"
          OAUTH_SCOPES: "openid email profile groups"
          OAUTH_UPDATE_PICTURE_ON_LOGIN: "true"
          OLLAMA_BASE_URL: http://ollama:11434
          OPENID_PROVIDER_URL: "https://auth.g4v.dev/application/o/open-webui/.well-known/openid-configuration"
          RAG_WEB_SEARCH_ENGINE: searxng
          SEARXNG_QUERY_URL: https://search.g4v.dev/search?q=<query>
          TORCHINDUCTOR_CACHE_DIR: /tmp/touchinductor
          WEBSOCKET_MANAGER: "valkey"
          WEBSOCKET_REDIS_URL: "redis://valkey:6379/0"
          WEBUI_AUTH_COOKIE_SECURE: True
          WEBUI_SESSION_COOKIE_SECURE: True
          WEBUI_URL: https://ai.kantai.xyz
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /health
                port: 8080
          readiness: *probes
          startup:
            enabled: false
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop: ["ALL"]
        resources:
          requests:
            cpu: 500m
            memory: 1Gi
          limits:
            memory: 2Gi
service:
  ollama:
    controller: ollama
    annotations:
      tailscale.com/expose: "true"
    ports:
      http:
        port: 11434
  webui:
    controller: webui
    ports:
      http:
        port: 8080
route:
  webui:
    enabled: true
    parentRefs:
      - name: http-gateway
        namespace: envoy-gateway
        sectionName: https
    hostnames:
      - "ai.g4v.dev"
    rules:
      - matches:
        - path:
            type: PathPrefix
            value: /
        backendRefs:
          - group: ''
            kind: Service
            identifier: webui
            port: http
            weight: 1
  ollama:
    enabled: true
    parentRefs:
      - name: http-gateway
        namespace: envoy-gateway
        sectionName: https
    hostnames:
      - "ollama.g4v.dev"
    rules:
      - matches:
        - path:
            type: PathPrefix
            value: /
        backendRefs:
          - group: ''
            kind: Service
            identifier: ollama
            port: http
            weight: 1
persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 20Gi
    advancedMounts:
      ollama:
        main:
          - path: /root/.ollama
          - path: /home/ubuntu/.ollama
          - path: /.ollama
  web-config:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    suffix: open-webui
    size: 20Gi
    advancedMounts:
      webui:
        main:
          - path: /app/backend/data
  models:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteMany
    storageClass: nas-apps
    suffix: models
    size: 150Gi
    advancedMounts:
      ollama:
        main:
          - path: /models
  tmp:
    enabled: true
    type: emptyDir
    globalMounts:
      - path: /tmp
