# Network-specific config options
network:
    mode: instagram
    displayname_template: '{{ or .DisplayName .Username "Unknown user" }} (IG)'
#    proxy: socks5://home-socks-proxy.tailscale.svc.cluster.local.:1080
    proxy_media: true

bridge:
    permissions:
      "*": relay
      "g4v.dev": user
      "@halkeye:g4v.dev": admin

# Config for the bridge's database.
database:
    type: postgres
    uri: "$MAUTRIX_DB_URI"

# Homeserver details.
homeserver:
    address: "http://synapse.matrix.svc.cluster.local.:8008"
    # address: "https://matrix.g4v.dev"
    domain: g4v.dev
    # Does the homeserver support https://github.com/matrix-org/matrix-spec-proposals/pull/2246?
    async_media: true

# Application service host/registration related details.
# Changing these values requires regeneration of the registration (except when noted otherwise)
appservice:
    address: "http://mautrix-instagram.matrix.svc.cluster.local.:29319"
    hostname: 0.0.0.0
    port: 29319
    # Authentication tokens for AS <-> HS communication. Autogenerated; do not modify.
    as_token: "$AS_TOKEN"
    hs_token: "$HS_TOKEN"
    # The unique ID of this appservice.
    id: instagram
    username_template: "instagram_{{.}}"
    # Appservice bot details.
    bot:
        username: instagrambot
        displayname: Instagram bridge bot


# Settings for provisioning API
provisioning:
    shared_secret: "$PROVISIONING_SHARED_SECRET"

double_puppet:
    secrets:
        g4v.dev: "$LOGIN_SHARED_SECRET"
encryption:
    allow: false
    default: false
    pickle_key: "$ENCRYPTION_PICKLE_KEY"

# Logging config. See https://github.com/tulir/zeroconfig for details.
logging:
    min_level: debug
    writers:
        - type: stdout
          format: pretty-colored
