# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  main:
    replicas: 1
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      photoprism:
        image:
          repository: docker.io/photoprism/photoprism
          tag: "251130"

        env:
          PHOTOPRISM_STORAGE_PATH: /photoprism/storage
          PHOTOPRISM_ORIGINALS_PATH: /photoprism/originals
          ## See other config options from PhotoPrism documentation: https://docs.photoprism.org/getting-started/config-options/
          # PHOTOPRISM_ADMIN_PASSWORD: "please-change"        # Initial admin password: PLEASE CHANGE!
          PHOTOPRISM_DEBUG: "false"                           # Run in debug mode (shows additional log messages)
          PHOTOPRISM_PUBLIC: "false"                          # No authentication required (disables password protection)
          # PHOTOPRISM_READONLY: "false"                      # Don't modify originals directory (reduced functionality)
          # PHOTOPRISM_EXPERIMENTAL: "fa   lse"               # Enable experimental features
          PHOTOPRISM_SITE_URL: "https://photoprism.g4v.dev/"  # Canonical / public site URL
          PHOTOPRISM_SITE_TITLE: "Photos G4V"
          PHOTOPRISM_SITE_CAPTION: "Photos"
          PHOTOPRISM_SITE_DESCRIPTION: "Photos"
          # PHOTOPRISM_SITE_AUTHOR: ""
          # # You may optionally set user, group and/or file permissions using environment variables:
          # UID: 1000
          # GID: 1000
          # UMASK: 0000
          PHOTOPRISM_ORIGINALS_LIMIT: 4000 # in MB (default 1000)
          PHOTOPRISM_DATABASE_DRIVER: postgres
          PHOTOPRISM_DATABASE_NAME: photoprism
          PHOTOPRISM_DATABASE_SERVER:
            valueFrom:
              secretKeyRef:
                name: "photoprism-db-secret-photoprism"
                key: HOST
          PHOTOPRISM_DATABASE_USER:
            valueFrom:
              secretKeyRef:
                name: "photoprism-db-secret-photoprism"
                key: LOGIN
          PHOTOPRISM_DATABASE_PASSWORD:
            valueFrom:
              secretKeyRef:
                name: "photoprism-db-secret-photoprism"
                key: PASSWORD
        envFrom:
          - secretRef:
              name: "photoprism-secret"
        # probes:
        #   liveness:
        #     enabled: true
        #   readiness:
        #     enabled: true
        #   startup:
        #     enabled: true
service:
  main:
    controller: main
    ports:
      http:
        port: 2342
ingress:
  main:
    enabled: true
    annotations:
      gethomepage.dev/enabled: "true"
      nginx.ingress.kubernetes.io/proxy-body-size: 1G
    hosts:
      - host: "photoprism.g4v.dev"
        paths:
          - path: /
            service:
              identifier: main
              port: http
persistence:
  tmp:
    enabled: true
    type: emptyDir
  config:
    enabled: true
    suffix: config
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 10Gi
    globalMounts:
      - path: /photoprism/storage
  photos:
    enabled: true
    suffix: photos
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 50Gi
    globalMounts:
      - path: /photoprism/originals
