---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmGlobals:
  chartHome: ./charts/

generatorOptions:
  disableNameSuffixHash: true

helmCharts:
  - name: app-template
    version: 4.5.0
    repo: https://bjw-s-labs.github.io/helm-charts
    valuesFile: ./values.yaml
    releaseName: recyclarr

resources:
  - ./secret.enc.yaml

configMapGenerator:
  - name: recylarr-config
    files:
      - ./resources/anime-radarr.yaml
      - ./resources/anime-sonarr.yaml
      - ./resources/radarr.yaml
      - ./resources/sonarr.yaml
