---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  main:
    type: cronjob
    revisionHistoryLimit: 1
    annotations:
      reloader.stakater.com/auto: 'true'
    cronjob:
      schedule: '@daily'
      successfulJobsHistory: 1
      failedJobsHistory: 2
      backoffLimit: 1
    containers:
      recyclarr:
        image:
          repository: ghcr.io/recyclarr/recyclarr
          tag: 8.3.2
        args:
          - sync
        env:
          COMPlus_EnableDiagnostics: '0'
          TZ: America/Vancouver
        envFrom:
          - secretRef:
              name: 'recylarr-secret'
        probes:
          liveness:
            enabled: false
          readiness:
            enabled: false
          startup:
            enabled: false
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop: ['ALL']
        resources:
          limits:
            memory: 256Mi
          requests:
            memory: 256Mi
            cpu: 10m
    pod:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        runAsNonRoot: true
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
persistence:
  tmp:
    type: emptyDir
  config:
    type: emptyDir
  configs:
    enabled: true
    type: configMap
    name: 'recylarr-config'
    globalMounts:
      - path: /config/configs
        readOnly: true
