controllers:
  main:
    strategy: Recreate
    replicas: 1
    annotations:
      reloader.stakater.com/auto: 'true'
    containers:
      main:
        image:
          repository: ghcr.io/jellyfin/jellyfin
          tag: 10.11.6
        env:
          DOTNET_SYSTEM_IO_DISABLEFILELOCKING: 'true'
          JELLYFIN_PublishedServerUrl: https://jellyfin.g4v.dev
          TZ: America/Vancouver
#        probes:
#          liveness: &probes
#            enabled: true
#            custom: true
#            spec:
#              httpGet:
#                path: /health
#                port: 8096
#              initialDelaySeconds: 0
#              periodSeconds: 10
#              timeoutSeconds: 1
#              failureThreshold: 3
#          readiness: *probes
#          startup:
#            enabled: false
        resources:
          limits:
            memory: 6Gi
          requests:
            memory: 512Mi
            cpu: 100m
service:
  main:
    controller: main
    ports:
      http:
        port: 8096
ingress:
  main:
    enabled: true
    annotations:
      gethomepage.dev/enabled: 'true'
      gethomepage.dev/group: Media
      gethomepage.dev/icon: https://raw.githubusercontent.com/walkxcode/dashboard-icons/master/png/jellyfin.png
      gethomepage.dev/name: Jellyfin
      nginx.ingress.kubernetes.io/server-snippet: |
        location /metrics {
          return 404;
        }
    hosts:
      - host: jellyfin.g4v.dev
        paths:
          - path: /
            service:
              identifier: main
              port: http
persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 20Gi
  transcodes:
    enabled: true
    type: emptyDir
    globalMounts:
      - path: /cache/transcodes
  cache:
    enabled: true
    type: emptyDir
  anime:
    type: nfs
    server: 172.16.10.10
    path: /volume1/Anime
    globalMounts:
      - path: /anime
  anime-movies:
    type: nfs
    server: 172.16.10.10
    path: '/volume1/Anime Movies'
    globalMounts:
      - path: /anime-movies
  tv:
    type: nfs
    server: 172.16.10.10
    path: /volume1/TV
    globalMounts:
      - path: /tv
  movies:
    type: nfs
    server: 172.16.10.10
    path: /volume1/Movies
    globalMounts:
      - path: /movies
  audio:
    type: nfs
    server: 172.16.10.10
    path: /volume1/Audio
    globalMounts:
      - path: /audio
  webseries:
    type: nfs
    server: 172.16.10.10
    path: /volume1/Webseries
    globalMounts:
      - path: /webseries
  webseries-movies:
    type: nfs
    server: 172.16.10.10
    path: '/volume1/Webseries Movies'
    globalMounts:
      - path: /webseries-movies
  comedian-specials:
    type: nfs
    server: 172.16.10.10
    path: '/volume1/Comedian Specials'
    globalMounts:
      - path: /comedian-specials
  zap2xml:
    enabled: true
    type: nfs
    server: 172.16.10.10
    path: '/volume1/Apps/zap2xml'

  configmap:
    enabled: true
    type: configMap
    name: 'jellyfin-configmap'
    globalMounts:
      - path: /config/logging.json
        subPath: logging.json
        readOnly: true
