# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  main:
    replicas: 1
    annotations:
      reloader.stakater.com/auto: "true"

    containers:
      main:
        image:
          repository: ghcr.io/umami-software/umami
          tag: 3.0.0
        env:
          TZ: American/Vancouver
          DISABLE_TELEMETRY: "true"
          DATABASE_TYPE: postgresql
          NODE_TLS_REJECT_UNAUTHORIZED: '0'
          DATABASE_URL:
            valueFrom:
              secretKeyRef:
                name: "umami-db-secret-umami"
                key: POSTGRES_URL_WITH_ARGS
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /api/heartbeat
                port: 3000
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        resources:
          requests:
            cpu: 15m
            memory: 300Mi
          limits:
            memory: 500Mi

service:
  main:
    controller: main
    ports:
      http:
        port: 3000
ingress:
  main:
    enabled: true
    hosts:
      - host: "umami.g4v.dev"
        paths:
          - path: /
            service:
              identifier: main
              port: http
      - host: "u.g4v.dev"
        paths:
          - path: /
            service:
              identifier: main
              port: http
persistence:
  tmp:
    enabled: true
    type: emptyDir
