controllers:
  proxy:
    strategy: RollingUpdate
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      main:
        image:
          repository: docker.io/serjs/go-socks5-proxy
          tag: latest@sha256:0af522996f402c03ecd985a87997158eabeb28935365e3a384df37eafcf740ea
        env:
          PROXY_PORT: 1080
          REQUIRE_AUTH: false
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop: ["ALL"]
        resources:
          requests:
            cpu: 10m
            memory: 512Mi
          limits:
            memory: 512Mi
        probes:
          liveness:
            enabled: false
          readiness:
            enabled: false
          startup:
            enabled: false
    pod:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/arch
                    operator: NotIn
                    values:
                      - arm64
service:
  socks5:
    controller: proxy
    # externalTrafficPolicy: Local
    # type: LoadBalancer
    # loadBalancerIP: 172.16.10.208
    annotations:
      # external-dns.alpha.kubernetes.io/target: 172.16.10.208
      # external-dns.alpha.kubernetes.io/hostname: "proxy.g4v.dev"
      tailscale.com/expose: "true"
    ports:
      socks5:
        port: 1080
        protocol: TCP
