app-template:
  controllers:
    main:
      type: cronjob
      revisionHistoryLimit: 1
      annotations:
        reloader.stakater.com/auto: 'true'
      pod:
        restartPolicy: Never
        securityContext:
          runAsUser: 1026
          runAsGroup: 100
          runAsNonRoot: true
          fsGroup: 100
          fsGroupChangePolicy: OnRootMismatch
      cronjob:
        schedule: "0 */6 * * *"
        concurrencyPolicy: Forbid
        successfulJobsHistory: 1
        failedJobsHistory: 1
        activeDeadlineSeconds: 14400
        ttlSecondsAfterFinished: 86400
        backoffLimit: 1
      containers:
        main:
          image:
            repository: ghcr.io/jmbannon/ytdl-sub
            tag: 2026.01.26
          env:
            TZ: America/Vancouver
            ## Do not mark any shows/movies as played and instead just output to log if they would of been marked.
          envFrom:
            - secretRef:
                name: '{{.Release.Name}}-secret'
          command:
            - bash
            - -c
          args:
            - |
              ytdl-sub --log-level=debug --config=/config/config.yaml sub /config/subscriptions.yaml
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop: ["ALL"]
          resources:
            requests:
              cpu: 10m
              memory: 256Mi
            limits:
              # gpu.intel.com/i915: 1
              memory: 2Gi
  persistence:
    workdir:
      enabled: true
      type: persistentVolumeClaim
      storageClass: nas-apps
      accessMode: ReadWriteMany
      size: 10Gi
      globalMounts:
        - path: /workdir
    config:
      enabled: true
      type: configMap
      name: '{{ .Release.Name }}-config'
      globalMounts:
        - path: /config/config.yaml
          subPath: config.yaml
          readOnly: true
        - path: /config/subscriptions.yaml
          subPath: subscriptions.yaml
          readOnly: true
    dri:
      enabled: true
      type: hostPath
      hostPath: /dev/dri
    tmp:
      enabled: true
      type: emptyDir
      globalMounts:
        - path: /tmp
          subPath: tmp
        - path: /config
          subPath: config
    music:
      enabled: true
      type: nfs
      server: 172.16.10.10
      path: /volume1/Audio/Music
      globalMounts:
        - path: /music
    webseries:
      type: nfs
      server: 172.16.10.10
      path: /volume1/Webseries
      globalMounts:
        - path: /webseries
  configMapYamls:
    # https://ytdl-sub.readthedocs.io/en/latest/config_reference/subscription_yaml.html
    subscriptions.yaml:
      __preset__:
        overrides:
          tv_show_directory: "/webseries"
          music_directory: "/music"

      # YouTube Releases:
      #   = Trace | Chunk Downloads:
      #     "Armin van Buuren": "https://www.youtube.com/@arminvanbuuren/releases"

      YouTube Full Albums:
        = Lofi | Chunk Downloads:
          "Game Chops": "https://www.youtube.com/playlist?list=PLBsm_SagFMmdWnCnrNtLjA9kzfrRkto4i"
        = Trace | Chunk Downloads:
          "Above and Beyond Group Therapy": "https://www.youtube.com/playlist?list=PL6RLee9oArCArCAjnOtZ17dlVZQxaHG8G"
          "Anjunadeep Edition": "https://www.youtube.com/playlist?list=PLOftnzGIKwJB1h6ErEcFJTObuqqGNZPXI"
          "Anjunabeats": "https://www.youtube.com/playlist?list=PLDKkQBH8I6JDhqMbdtJcllcHu_0xkJWZC"

    config.yaml:
      configuration:
        working_directory: "/workdir/"
      presets:
        plex_yt_episodic_show:
          preset:
            - plex_tv_show_collection
            - season_by_year__episode_by_download_index
  configMaps:
    config:
      data:
        config.yaml: |
          ---{{ index .Values.configMapYamls "config.yaml" | toYaml | nindent 2 }}
        subscriptions.yaml: |
          ---{{ index .Values.configMapYamls "subscriptions.yaml" | toYaml | nindent 2 }}
