# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  main:
    containers:
      main:
        image:
          repository: ghcr.io/linuxserver/mylar3
          tag: version-v0.7.8
        env:
          TZ: America/Vancouver
          PUID: 1026
          PGID: 100
        resources:
          limits: &resources
            memory: 2Gi
          requests:
            <<: *resources
            cpu: 15m
    pod:
      securityContext:
        fsGroup: 1026
        fsGroupChangePolicy: OnRootMismatch
service:
  main:
    controller: main
    ports:
      http:
        port: 8090
ingress:
  main:
    enabled: true
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/group: Media Fetchers
      gethomepage.dev/icon: https://raw.githubusercontent.com/walkxcode/dashboard-icons/master/png/mylar.png
      gethomepage.dev/name: Mylar
    hosts:
      - host: mylar3.g4v.dev
        paths:
          - path: /
            service:
              identifier: main
              port: http
persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    suffix: config
    size: 10Gi
    storageClass: nas-apps
    globalMounts:
      - path: /config
  comics:
    type: nfs
    server: 172.16.10.10
    path: /volume1/Comics/Comics
    globalMounts:
      - path: /comics
  manga:
    type: nfs
    server: 172.16.10.10
    path: /volume1/Comics/Manga
    globalMounts:
      - path: /manga
  downloads:
    type: nfs
    server: 172.16.10.10
    path: "/volume1/Downloads"
    globalMounts:
      - path: /downloads
