# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  main:
    strategy: Recreate
    # pod:
    #   hostNetwork: true
    containers:
      lms:
        image:
          repository: ghcr.io/lms-community/lyrionmusicserver
          tag: 9.1.0
        env:
          TZ: America/Vancouver
          AUDIO_DIR: /music
          PLAYLIST_DIR: /playlists
        probes:
          liveness:
            enabled: true
            custom: true
            spec:
              exec:
                command:
                  - timeout
                  - 10s
                  - bash
                  - -c
                  - ':> /dev/tcp/127.0.0.1/9000 || exit 1'
              initialDelaySeconds: 90
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness:
            enabled: false
          startup:
            enabled: false
        securityContext:
          privileged: true
          capabilities:
            add:
              - SYS_ADMIN
              - CAP_SYSLOG
              - NET_BIND_SERVICE
              - DAC_READ_SEARCH
        resources:
          requests:
            memory: 250Mi
            cpu: 15m
          limits:
            memory: 4096Mi
service:
  main:
    controller: main
    ports:
      http:
        port: 9000
  cli:
    controller: main
    ports:
      cli:
        enabled: true
        port: 9090
        protocol: TCP
  slimproto:
    controller: main
    type: LoadBalancer
    ports:
      slimproto:
        enabled: true
        port: 3483
        protocol: TCP
      slimproto-udp:
        enabled: true
        port: 3483
        protocol: UDP
ingress:
  main:
    enabled: true
    annotations:
      gethomepage.dev/enabled: 'true'
      gethomepage.dev/group: Media
      gethomepage.dev/icon: https://raw.githubusercontent.com/homarr-labs/dashboard-icons/main/png/lms-mixtape.png
      gethomepage.dev/name: Lyrion Music Server
    hosts:
      - host: lms.g4v.dev
        paths:
          - path: /
            service:
              identifier: main
              port: http
persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    suffix: config
    accessMode: ReadWriteOnce
    size: 1Gi
  tmp:
    type: emptyDir
  music:
    type: nfs
    server: 172.16.10.10
    path: /volume1/Audio/Music
  comedians:
    type: nfs
    server: 172.16.10.10
    path: /volume1/Audio/Comedians
  playlists:
    type: nfs
    server: 172.16.10.10
    path: /volume1/Audio/Playlists
