---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: cloudnative-pg
    releaseName: cloudnative-pg
    version: 0.27.0
    repo: https://cloudnative-pg.github.io/charts/
    valuesFile: ./values.yaml
  - name: ext-postgres-operator
    releaseName: ext-postgres-operator
    version: 3.0.0
    repo: https://movetokube.github.io/postgres-operator/
    valuesFile: ./values-ext-postgres.yaml

resources:
  - ./secret.enc.yaml
  - ./resources/postgres17.yaml
  - ./resources/scheduled-backup.yaml
  - ./resources/services.yaml
