---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmGlobals:
  chartHome: ./charts/

generatorOptions:
  disableNameSuffixHash: true

helmCharts:
  - name: metrics-server
    version: 3.13.0
    repo: https://kubernetes-sigs.github.io/metrics-server/
    releaseName: metrics-server 
    valuesFile: ./values.yaml

patches:
- target:
    group: monitoring.coreos.com
    version: v1
    kind: ServiceMonitor
  patch: |-
    - op: remove
      path: /spec/namespaceSelector
