---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
defaultPodOptions:
  securityContext:
    runAsUser: 1026
    runAsGroup: 100
    runAsNonRoot: true
    fsGroup: 100
    fsGroupChangePolicy: "OnRootMismatch"

controllers:
  main:
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      app:
        image:
          repository: ghcr.io/halkeye/docker-beets
          tag: 2.3.1.12
        env:
          TZ: American/Vancouver
          BETANIN_HOST: 0.0.0.0
          BETANIN_PORT: 80
          BEETSDIR: /config/.config/beets
        probes:
          liveness:
            enabled: false
          readiness:
            enabled: false
          startup:
            enabled: false
            spec:
              failureThreshold: 30
              periodSeconds: 10
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 1Gi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
service:
  # betanin:
  #   controller: main
  #   ports:
  #     http:
  #       port: 80
  webui:
    controller: main
    ports:
      http:
        port: 3000
ingress:
  main:
    enabled: true
    annotations:
      gethomepage.dev/enabled: "false"
    hosts:
      - host: beets.g4v.dev
        paths:
          - path: /
            service:
              identifier: webui
              port: http
persistence:
  config:
    type: emptyDir
  tmp:
    type: emptyDir
  # betanin-data:
  #   type: emptyDir
  #   globalMounts:
  #   - path: /config/.local/share/betanin
  music:
    type: nfs
    server: 172.16.10.10
    path: /volume1/Audio/Music
  downloads:
    type: nfs
    server: 172.16.10.10
    path: "/volume1/Downloads"
    globalMounts:
      - path: /downloads
  config-file:
    type: configMap
    name: beets-configmap
    globalMounts:
      - path: /config/.config/beets/config.yaml
        subPath: config.yaml
        readOnly: true
  secret-file:
    type: secret
    name: beets-secret
    globalMounts:
      - path: /config/.config/beets/secrets.yaml
        subPath: secrets.yaml
        readOnly: true
      # - path: /config/.config/betanin/config.toml
      #   subPath: config.toml
      #   readOnly: true
      # - path: /config/.local/share/betanin/secret_key
      #   subPath: secret_key
      #   readOnly: true
