---
# most of the comments are borrowed from https://github.com/florib779/beets-config/blob/master/config.yaml
#
plugins:
  - lidarrfields
  - inline
  - chroma
  - rewrite
  # https://github.com/florib779/beets-config/blob/master/plugins.yaml
  - albumtypes
  # - absubmit       # Lets you submit acoustic analysis results to the AcousticBrainz server.
  # - acousticbrainz  # Gets acoustic-analysis information from the AcousticBrainz project.
  - badfiles        # ToDo. Adds a beet bad command to check for missing and corrupt files.
  - bandcamp        # Beetcamp. Use bandcamp as an autotagger source for eg. artwork and lyrics.
  - bucket          # Groups your files into buckets folders representing ranges.
  - chroma          # Chromaprint/Acoustid Plugin.
  - convert         # Lets you transcoding audio and embedding album art.
  - copyartifacts   # A plugin that moves non-music files during the import process.
  - duplicates      # Adds a new command, duplicates or dup, which finds and lists duplicate tracks or albums in your collection.
  # - edit            # Lets you modify music metadata using your favorite text editor. ToDo: No config file yet.
  - embedart        # Embed the album art directly into each file’s metadata.
  # - export          # Lets you get data from the items and export the content as JSON, CSV, or XML.
  - fetchart        # Retrieves album art images from various sources on the Web and stores them as image files.
  # - fromfilename    # The FromFilename plugin adds the ability to guess tags from the filenames.
  #                   # Use this plugin if your tracks have useful names (like “03 Call Me Maybe.mp3”) but their tags don’t reflect that.
  # - hook            # Lets you run commands in response to these events.
  # - importadded     # Useful when an existing collection is imported and the time when albums and items were added should be preserved.
  # - info            # The info plugin provides a command that dumps the current tag values for any file format supported by beets.
  # - lastimport      # Doesn't write tags to files - only database. So not useful at the moment.
  - lastgenre       # Fetches tags from Last.fm and assigns them as genres to your albums and items.
  - lyrics          # Fetches and stores song lyrics from databases on the Web.
  # - mbcollection    # Lets you submit your catalog to MusicBrainz to maintain your music collection list there.
  # - mbsubmit        # Provides an extra prompt choice during an import session that prints the tracks
  # -                 # of the current album in a format that is parseable by MusicBrainz’s track parser.
  - mbsync          # This plugin provides the mbsync command,
                    # which lets you fetch metadata from MusicBrainz for albums and tracks that already have MusicBrainz IDs.
  - missing         # This plugin adds a new command, missing or miss,
                    # which finds and lists, for every album in your collection, which or how many tracks are missing.
  # - parentwork      # Fetches the work title, parent work title and parent work composer from MusicBrainz.
  # - permissions     # Set file permissions for imported music files and its directories. Permissions will be adjusted automatically on import.
  - replaygain      # This plugin adds support for ReplayGain, a technique for normalizing audio playback levels.
  - unimported      # Allows to list all files in the library folder which are not listed in the beets library database, including art files.

include:                     # A list of extra configuration files to include.
  - secrets.yaml             # Secret strings (REDUCTED) like usernames and passwords. Add this file to git.ignore.

per_disc_numbering: true

ignore:
  - ".*"
  - "*~"
  - System Volume Information
  - lost+found
  - Armin van Buuren

duplicate_action: skip

import:
  languages: [en]

  write: true
  copy: false
  move: true
  link: false
  hardlink: false
  reflink: false
  delete: false
  resume: no
  incremental: true
  incremental_skip_later: false
  from_scratch: false
  quiet_fallback: skip
  none_rec_action: skip
  timid: false
  log:
  autotag: true
  quiet: true
  singletons: false
  default_action: apply
  detail: false
  flat: false
  group_albums: false
  pretend: false
  search_ids: []
  duplicate_action: keep
  bell: false
  set_fields: {}

fetchart:
  cautious: true
  cover_names: front back
  sources: itunes *

lastfm:
  user: halkeye
  api_key: your_api_key

rewrite:
  artist .*宇多田ヒカル.*: Hikaru Utada
  artist .*松浦亜弥.*: Aya Matsuura
  artist .*新しい学校のリーダーズ.*: Atarashii Gakko!


# Bandcamp ########################################################################################

# beetcamp
bandcamp:                           # Beetcamp. Uses the bandcamp URL as id (for both albums and songs).
                                    # If no matching release is found when importing you can select enter Id and paste the bandcamp URL.
  preferred_media: Digital          # A comma-separated list of media to prioritise when fetching albums.
  include_digital_only_tracks: true # For media that isn't Digital Media, include all tracks,
                                    # even if their titles contain digital only (or alike).
  search_max: 10                    # Maximum number of items to fetch through search queries. Default: 10.
  art: true                         # Add a source to the FetchArt plug-in to download album art for Bandcamp albums
                                    # (requires FetchArt plug-in enabled).
  #exclude_extra_fields:            # The data that is added after the core auto tagging process is considered extra:
    #- lyrics                       # (currently) lyrics and comments (release description) fields.
    #- comments                     # Since there yet isn't an easy way to preview them before they get applied,
                                    # you can ignore them if you find them irrelevant or inaccurate.

###################################################################################################

library: /tmp/beets.db
directory: /music

clutter: ["Thumbs.DB", ".DS_Store"]
ignore_hidden: true

replace:
  '[\\/]': _
  '^\.': _
  '[\x00-\x1f]': _
  '[<>:"\?\*\|]': _
  '\.$': _
  '\s+$': ''
  '^\s+': ''
  '^-': _
path_sep_replace: _
drive_sep_replace: _
asciify_paths: false
art_filename: cover
max_filename_length: 0

aunique:
  keys: albumartist album
  disambiguators: albumtype year label catalognum albumdisambig releasegroupdisambig
  bracket: '[]'

overwrite_null:
  album: []
  track: []

# plugins: []
# pluginpath: []
threaded: true
timeout: 5.0
# per_disc_numbering: false
verbose: 0
terminal_encoding:
original_date: false
artist_credit: false
id3v23: false
va_name: "Various Artists"

ui:
  terminal_width: 80
  length_diff_thresh: 10.0
  color: true
  colors:
    text_success: green
    text_warning: yellow
    text_error: red
    text_highlight: red
    text_highlight_minor: lightgray
    action_default: turquoise
    action: blue

format_item: $artist - $album - $title
format_album: $albumartist - $album
time_format: '%Y-%m-%d %H:%M:%S'
format_raw_length: false

sort_album: albumartist+ album+
sort_item: artist+ album+ disc+ track+
sort_case_insensitive: true

paths:
  # https://github.com/rafaelparente/beets-lidarr-fields
  default: $releasegroupartist/$lidarralbum ($year)/%if{$audiodisctotal,$disc - }${track}. $title
  # default: $albumartist/$album%aunique{}/$track $title
  singleton: Non-Album/$artist/$title
  comp: Compilations/$album%aunique{}/$track $title

statefile: state.pickle

musicbrainz:
  host: musicbrainz.org
  https: false
  ratelimit: 1
  ratelimit_interval: 1.0
  searchlimit: 5
  extra_tags: []
  genres: false

match:
  strong_rec_thresh: 0.04
  medium_rec_thresh: 0.25
  rec_gap_thresh: 0.25
  max_rec:
    missing_tracks: medium
    unmatched_tracks: medium
  distance_weights:
    source: 2.0
    artist: 3.0
    album: 3.0
    media: 1.0
    mediums: 1.0
    year: 1.0
    country: 0.5
    label: 0.5
    catalognum: 0.5
    albumdisambig: 0.5
    album_id: 5.0
    tracks: 2.0
    missing_tracks: 0.9
    unmatched_tracks: 0.6
    track_title: 3.0
    track_artist: 2.0
    track_index: 1.0
    track_length: 2.0
    track_id: 5.0
  preferred:
    countries: []
    media: []
    original_year: false
  ignored: []
  required: []
  ignored_media: []
  ignore_data_tracks: true
  ignore_video_tracks: true
  track_length_grace: 10
  track_length_max: 30

copyartifacts:
  extensions: ".*"
