# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  main:
    type: daemonset
    pod:
      hostNetwork: true
    containers:
      lms:
        image:
          repository: flungo/avahi
          tag: latest@sha256:803451d0200610298d30d3151240f47c5de4d6558f6a3a36340692048cdf28e0
        env:
          REFLECTOR_ENABLE_REFLECTOR: yes
        securityContext:
          privileged: true
        resources:
          requests:
            memory: 250Mi
            cpu: 15m
