# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  main:
    pod:
      hostNetwork: true
    containers:
      lms:
        image:
          repository: flungo/avahi
          tag: 9.1.0
        env:
          REFLECTOR_ENABLE_REFLECTOR: yes
        securityContext:
          privileged: true
        resources:
          requests:
            memory: 250Mi
            cpu: 15m
