controllers:
  main:
    containers:
      whoami:
        image:
          repository: traefik/whoami
          tag: v1.11.0
        env:
          WHOAMI_PORT_NUMBER: 8080
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /health
                port: 8080
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
          startup:
            enabled: false
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop: ['ALL']
        resources:
          requests:
            cpu: 10m
            memory: 16Mi
          limits:
            cpu: 100m
            memory: 32Mi
    pod:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        runAsNonRoot: true
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
service:
  main:
    controller: main
    ports:
      http:
        port: 8080
ingress:
  main:
    className: nginx
    enabled: true
    annotations:
      gethomepage.dev/enabled: 'false'
      # traefik.ingress.kubernetes.io/router.entrypoints: 'websecure'
      # traefik.ingress.kubernetes.io/router.middlewares: 'traefik-ingress-authentik@kubernetescrd'
      # nginx.ingress.kubernetes.io/auth-url: "https://vouch.g4v.dev/_oauth2/validate"
      # nginx.ingress.kubernetes.io/auth-signin: "https://vouch.g4v.dev/_oauth2/login?url=$scheme://$http_host$request_uri&vouch-failcount=$auth_resp_failcount&X-Vouch-Token=$auth_resp_jwt&error=$auth_resp_err"
      # nginx.ingress.kubernetes.io/server-snippet: real_ip_header CF-Connecting-IP;
      # nginx.ingress.kubernetes.io/configuration-snippet: |
      #   real_ip_header CF-Connecting-IP;
      # nginx.ingress.kubernetes.io/auth-response-headers: X-Vouch-User
      # nginx.ingress.kubernetes.io/auth-snippet: |
      #   proxy_set_header X-Forwarded-Host $http_host;
      #   auth_request_set $auth_resp_x_vouch_user $upstream_http_x_vouch_user;
      #   auth_request_set $auth_resp_jwt $upstream_http_x_vouch_jwt;
      #   auth_request_set $auth_resp_err $upstream_http_x_vouch_err;
      #   auth_request_set $auth_resp_failcount $upstream_http_x_vouch_failcount;
    hosts:
      - host: 'whoami.g4v.dev'
        paths:
          - path: /
            service:
              identifier: main
              port: http
route:
  main:
    enabled: true
    parentRefs:
      - name: http-gateway
        namespace: envoy-gateway
        sectionName: https
    hostnames:
      - whoami.do.g4v.dev
    rules:
      - matches:	
        - path:	
            type: PathPrefix	
            value: /
        backendRefs:
          - group: ''
            kind: Service
            name: whoami
            port: 8080
            weight: 1
