---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  main:
    containers:
      main:
        image:
          repository: ghcr.io/suwayomi/suwayomi-server
          tag: v2.1.1985
        env:
          TZ: America/Vancouver
          BIND_PORT: &port 4567
          DOWNLOAD_AS_CBZ: "true"
          AUTO_DOWNLOAD_CHAPTERS: "true"
        probes:
          liveness: &probes
            enabled: false
          readiness: *probes
          startup:
            enabled: false
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: false
          capabilities:
            drop: ["ALL"]
        resources:
          limits: &resources
            memory: 1Gi
          requests:
            <<: *resources
            cpu: 10m
    pod:
      securityContext:
        runAsUser: 1026
        runAsGroup: 100
        runAsNonRoot: true
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
service:
  main:
    controller: main
    ports:
      http:
        port: *port
ingress:
  main:
    enabled: true
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/group: Media Fetchers
      gethomepage.dev/icon: https://raw.githubusercontent.com/Suwayomi/Tachidesk-JUI/master/resources/icon.png
      gethomepage.dev/name: Tachidesk
    hosts:
      - host: tachidesk.g4v.dev
        paths:
          - path: /
            service:
              identifier: main
              port: http
      - host: mangadownloader.g4v.dev
        paths:
          - path: /
            service:
              identifier: main
              port: http
persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 10Gi
    suffix: config
    storageClass: longhorn
    globalMounts:
      - path: /home/suwayomi/.local/share/Tachidesk
  comics:
    type: nfs
    server: 172.16.10.10
    path: /volume1/Comics
    globalMounts:
      - path: /comics
  downloads:
    type: nfs
    server: 172.16.10.10
    path: /volume1/Downloads
    globalMounts:
      - path: /downloads
