controllers:
  main:
    annotations:
      reloader.stakater.com/auto: "true"
    type: deployment
    replicas: 1
    strategy: Recreate
    initContainers:
      01-init:
        image:
          repository: ghcr.io/halkeye/docker-mautrix-gmessages
          tag: "v0.2511.0.44"
        env:
          TZ: America/Vancouver
          MAUTRIX_DB_URI:
            valueFrom:
              secretKeyRef:
                name: "mautrix-gmessages-db-secret-mautrix-gmessages"
                key: POSTGRES_URL
        envFrom:
          - secretRef:
              name: "mautrix-gmessages-secret"
        command:
          - bash
          - -c
          - cat /configmap/config.yaml | envsubst > /data/config.yaml
    containers:
      main:
        image:
          repository: ghcr.io/halkeye/docker-mautrix-gmessages
          tag: "v0.2511.0.44"
        env:
          TZ: America/Vancouver
          MAUTRIX_DB_URI:
            valueFrom:
              secretKeyRef:
                name: "mautrix-gmessages-db-secret-mautrix-gmessages"
                key: POSTGRES_URL
        command:
          - "/usr/bin/mautrix-gmessages"
          - "-c"
          - "/data/config.yaml"
        probes:
          liveness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /_matrix/mau/live
                port: 29336
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /_matrix/mau/ready
                port: 29336
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          startup:
            enabled: false
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop: ["ALL"]
        resources:
          limits:
            memory: 100Mi
          requests:
            cpu: 10m
            memory: 100Mi
    pod:
      securityContext:
        runAsUser: 1337
        runAsGroup: 1337
        runAsNonRoot: true
        fsGroup: 1337
        fsGroupChangePolicy: OnRootMismatch
service:
  main:
    controller: main
    publishNotReadyAddresses: true
    ports:
      http:
        port: 29336

persistence:
  tmp:
    enabled: true
    type: emptyDir
  data:
    enabled: true
    type: emptyDir
  configmap:
    enabled: true
    type: configMap
    name: "mautrix-gmessages-configmap"
