---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmGlobals:
  chartHome: ./charts/

generatorOptions:
  disableNameSuffixHash: true

helmCharts:
  - name: app-template
    version: 4.6.1
    repo: https://bjw-s-labs.github.io/helm-charts
    valuesFile: values.yaml
    releaseName: romm 

resources:
  - ./resources/redis.yaml
  - ./resources/postgres.yaml
  - ./resources/postgres-user.yaml
  - ./secret.enc.yaml

configMapGenerator:
  - name: romm-configmap
    files:
      - config.yml=./resources/config.yml
