# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  main:
    replicas: 1
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      main:
        image:
          repository: ghcr.io/home-operations/readarr
          tag: 0.4.18.2805
        env:
          TZ: America/Vancouver
          COMPlus_EnableDiagnostics: "0"
          READARR__INSTANCENAME: readarr
          READARR__PORT: &port 80
          READARR__LOG__LEVEL: info
          READARR__AUTHENTICATION__METHOD: External
          READARR__AUTHENTICATION__REQUIRED: DisabledForLocalAddresses
          READARR__POSTGRES__PORT: "6000"
          READARR__POSTGRES__HOST:
            valueFrom:
              secretKeyRef:
                name: readarr-db-secret-readarr
                key: HOST
          READARR__POSTGRES__MAINDB: "readarr_main"
          READARR__POSTGRES__LOGDB: "readarr_log"
          READARR__POSTGRES__CACHEDB: "readarr_cache"
          READARR__POSTGRES__USER:
            valueFrom:
              secretKeyRef:
                name: readarr-db-secret-readarr
                key: LOGIN
          READARR__POSTGRES__PASSWORD:
            valueFrom:
              secretKeyRef:
                name: readarr-db-secret-readarr
                key: PASSWORD
        envFrom:
          - secretRef:
              name: readarr-secret
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /ping
                port: *port
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
          startup:
            enabled: false
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop: ["ALL"]
        resources:
          limits: &resources
            memory: 1Gi
          requests:
            <<: *resources
            cpu: 10m
      exportarr:
        image:
          repository: ghcr.io/onedr0p/exportarr
          tag: v2.3.0
        args:
          - readarr
        env:
          PORT: 9707
          URL: http://localhost:80
          APIKEY:
            valueFrom:
              secretKeyRef:
                name: readarr-secret
                key: READARR__API_KEY
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 128Mi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop: ["ALL"]
    pod:
      securityContext:
        runAsUser: 1026
        runAsGroup: 100
        runAsNonRoot: true
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
service:
  main:
    controller: main
    ports:
      http:
        port: *port
      metrics:
        port: 9707
serviceMonitor:
  main:
    enabled: true
    serviceName: '{{ include "bjw-s.common.lib.chart.names.fullname" $ }}'
    endpoints:
      - port: metrics
        scheme: http
        path: /metrics
        interval: 1m
        scrapeTimeout: 1m
ingress:
  main:
    enabled: true
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/group: Media Fetchers
      gethomepage.dev/icon: https://raw.githubusercontent.com/walkxcode/dashboard-icons/master/png/readarr.png
      gethomepage.dev/name: Readarr
    hosts:
      - host: "readarr.g4v.dev"
        paths:
          - path: /
            service:
              identifier: main
              port: http
persistence:
  config:
    type: nfs
    server: 172.16.10.10
    path: "/volume1/Apps/readarr"
  tmp:
    enabled: true
    type: emptyDir
  torrents:
    type: nfs
    server: 172.16.10.10
    path: /volume1/Apps/torrents
    globalMounts:
      - path: /torrents
  nzbdownloads:
    type: nfs
    server: 172.16.10.10
    path: /volume1/Apps/nzbget
    globalMounts:
      - path: /nzb-downloads
  books:
    type: nfs
    server: 172.16.10.10
    path: /volume1/Books
    globalMounts:
      - path: /books
  comics:
    type: nfs
    server: 172.16.10.10
    path: /volume1/Comics/Comics
    globalMounts:
      - path: /comics
  manga:
    type: nfs
    server: 172.16.10.10
    path: /volume1/Comics/Manga
    globalMounts:
      - path: /manga
  downloads:
    type: nfs
    server: 172.16.10.10
    path: "/volume1/Downloads"
    globalMounts:
      - path: /downloads
