---
operator:
  replica: 1

kubeProxyReplacement: true

bandwidthManager:
  enabled: true
  bbr: true

hubble:
  relay:
    enabled: true
    prometheus:
      serviceMonitor:
        enabled: true
  ui:
    enabled: true
  metrics:
    enabled:
      - dns:query;ignoreAAAA
      - drop
      - tcp
      - flow
      - port-distribution
      - icmp
      - http
    serviceMonitor:
      enabled: true
    # dashboards:
    #   enabled: true
    #   annotations:
    #     grafana_folder: Cilium
  tls:
    auto:
      enabled: true
      method: cronJob

clustermesh:
  apiserver:
    tls:
      auto:
        enabled: true
        method: cronJob
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true

gatewayAPI:
  enabled: true
  gatewayClass:
    create: "true"

# Increase rate limit when doing L2 announcements
# k8sClientRateLimit:
#   qps: 50
#   burst: 100

# Announce IPs from services' `.status.loadbalancer.ingress` field (automatically assigned by LB-IPAM).
l2announcements:
  enabled: true

# Announce manually assigned IPs from services' `.spec.externalIPs` field
externalIPs:
  enabled: true

loadBalancer:
  standalone: true

wellKnownIdentities:
  enabled: true
