# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  main:
    strategy: RollingUpdate
    replicas: 2
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      main:
        image:
          repository: satishweb/doh-server
          tag: v2.3.10-ubuntu
        command:
          - /server/doh-server
          - -conf
          - /server/doh-server.conf
        env:
          TZ: America/Vancouver
          UPSTREAM_DNS_SERVER: "udp:172.16.10.7:53"
          DOH_HTTP_PREFIX: "/dns-query"
          DOH_SERVER_LISTEN: ":0.0.0.0"
          DOH_SERVER_TIMEOUT: "10"
          DOH_SERVER_TRIES: "3"
          DOH_SERVER_VERBOSE: "true"
        probes:
          liveness:
            enabled: false
          readiness:
            enabled: false
          startup:
            enabled: false
        resources:
          requests:
            cpu: 5m
            memory: 256Mi
          limits:
            memory: 256Mi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            add: ["NET_BIND_SERVICE"]
            drop: ["ALL"]
    pod:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        runAsNonRoot: true
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: dns-over-http

service:
  main:
    controller: main
    ports:
      http:
        port: 8053

ingress:
  main:
    enabled: true
    annotations:
      gethomepage.dev/enabled: "false"
    hosts:
      - host: "doh.g4v.dev"
        paths:
          - path: /dns-query
            service:
              identifier: main
              port: http

persistence:
  tmp:
    type: emptyDir
  server:
    type: configMap
    name: dns-over-http-configmap
    globalMounts:
      - path: /server/doh-server.conf
        subPath: doh-server.conf
        readOnly: true
