controllers:
  main:
    replicas: 0
    strategy: Recreate
    containers:
      teamspeak:
        image:
          repository: teamspeak
          tag: "3.13.7"
        env:
          TZ: America/Vancouver
          TS3SERVER_LICENSE: accept
          TS3SERVER_QUERY_PROTOCOLS: ssh,raw
        resources:
          requests:
            memory: 100Mi
            cpu: 93m
          limits:
            memory: 100Mi
service:
  main:
    controller: main
    type: LoadBalancer
    externalTrafficPolicy: Local
    annotations:
      service.beta.kubernetes.io/do-loadbalancer-name: "dok8s-teamspeak"
      external-dns.alpha.kubernetes.io/cloudflare-proxied: "false"
      external-dns.alpha.kubernetes.io/hostname: "teamspeak.halkeye.net"
    ports:
      serverquery-raw:
        enabled: true
        port: 10011
        protocol: TCP
      serverquery-ssh:
        enabled: true
        port: 10022
        protocol: TCP
      webquery-https:
        enabled: true
        port: 10443
        protocol: TCP
      tsdns:
        enabled: true
        port: 41144
        protocol: TCP
      filetransfer:
        enabled: true
        port: 30033
        protocol: TCP
      voice:
        enabled: true
        port: 9987
        protocol: UDP
persistence:
  data:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    suffix: data
    size: 2Gi
    globalMounts:
      - path: /var/ts3server/
  certs:
    enabled: true
    type: secret
    name: "teamspeak-tls"
