# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  kobodl:
    containers:
      kobodl:
        image:
          repository: ghcr.io/halkeye/kobo-book-downloader
          tag: sha-9857a31
          # repository: ghcr.io/subdavis/kobodl
          # tag: latest@sha256:a28db847f5769a344561f2f6ec23e59bb03a46a238caff45c0a86b67fe8dd08b
        env:
          TZ: America/Vancouver
        args:
          - "--config"
          - "/config/kobodl.json"
          - "serve"
          - "-h"
          - "0.0.0.0"
          - "-p"
          - "5000"
          - "--output-dir"
          - "/tmp"
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop: ["ALL"]
        resources:
          limits: &resources
            memory: 128Mi
          requests:
            <<: *resources
            cpu: 10m
    pod:
      securityContext:
        runAsUser: 1026
        runAsGroup: 101
        runAsNonRoot: true
        fsGroup: 101
        fsGroupChangePolicy: OnRootMismatch
service:
  kobodl:
    controller: kobodl
    ports:
      http:
        port: 5000
route:
  main:
    enabled: true
    parentRefs:
      - name: http-gateway
        namespace: envoy-gateway
        sectionName: https
    hostnames:
      - "kobodl.g4v.dev"
    rules:
      - matches:
        - path:
            type: PathPrefix
            value: /
        backendRefs:
          - group: ''
            kind: Service
            identifier: kobodl
            port: http
            weight: 1
persistence:
  config:
    enabled: true
    type: nfs
    server: 172.16.10.10
    path: /volume1/Apps/kobodl/
  tmp:
    type: emptyDir
