---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmGlobals:
  chartHome: ./charts/

generatorOptions:
  disableNameSuffixHash: true

helmCharts:
  - name: pihole
    version: 2.35.0
    repo: https://mojo2600.github.io/pihole-kubernetes/
    valuesFile: values.yaml
    releaseName: pihole

resources:
  - ./secret.enc.yaml

patches:
- target:
    group: monitoring.coreos.com
    version: v1
    kind: ServiceMonitor
  patch: |-
    - op: remove
      path: /spec/namespaceSelector
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: pihole
    spec:
      template:
        spec:
          containers:
            - name: pihole
              env:
                - $patch: delete
                  name: FTLCONF_dns_listeningMode
                - $patch: delete
                  name: VIRTUAL_HOST
                - $patch: delete
                  name: FTLCONF_misc_etc_dnsmasq_d
