app-template:
  controllers:
    main:
      strategy: Recreate
      containers:
        audiobookshelf:
          image:
            repository: ghcr.io/advplyr/audiobookshelf
            tag: 2.32.1
          env:
            TZ: America/Vancouver
            PORT: 8080
            AUDIOBOOKSHELF_UID: 1026
            AUDIOBOOKSHELF_GID: 100
            CONFIG_PATH: /config
            METADATA_PATH: /config/metadata
          probes:
            liveness: &probes
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /healthcheck
                  port: 8080
            readiness: *probes
            startup:
              enabled: false
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop: ['ALL']
          resources:
            limits:
              memory: 600Mi
            requests:
              memory: 200Mi
              cpu: 50m
      pod:
        securityContext:
          runAsUser: 1026
          runAsGroup: 100
          runAsNonRoot: true
          fsGroup: 100
          fsGroupChangePolicy: OnRootMismatch
  service:
    main:
      controller: main
      ports:
        http:
          port: 8080
  ingress:
    main:
      enabled: true
      annotations:
        gethomepage.dev/enabled: 'true'
        gethomepage.dev/group: Media Fetchers
        gethomepage.dev/icon: https://raw.githubusercontent.com/walkxcode/dashboard-icons/master/png/audiobookshelf.png
        gethomepage.dev/name: Audiobookshelf
      hosts:
        - host: audiobookshelf.g4v.dev
          paths:
            - path: /
              service:
                identifier: main
                port: http
  persistence:
    config:
      enabled: true
      suffix: config
      type: persistentVolumeClaim
      accessMode: ReadWriteOnce
      storageClass: nas-apps
      size: 10Gi
    tmp:
      type: emptyDir
    audiobooks:
      type: nfs
      server: 172.16.10.10
      path: '/volume1/Audio/Audio Books'
    podcasts:
      type: nfs
      server: 172.16.10.10
      path: '/volume1/Audio/Podcasts'
    comedians:
      type: nfs
      server: 172.16.10.10
      path: /volume1/Audio/Comedians
    backups:
      type: nfs
      server: 172.16.10.10
      path: '/volume1/Backups/audiobookshelf'
