# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
fullnameOverride: bambulabs-exporter
controllers:
  main:
    strategy: RollingUpdate
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      main:
        image:
          repository: "ghcr.io/halkeye/bambulabs-exporter"
          tag: "1.5.0"
        envFrom:
          - secretRef:
              name: "bambulabs-exporter-secret"
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop: ["ALL"]
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
          limits:
            memory: 100Mi
service:
  main:
    controller: main
    ports:
      http:
        port: 9101
serviceMonitor:
  main:
    enabled: true
    endpoints:
      - port: http
        scheme: http
        path: /metrics
