---
apiVersion: db.movetokube.com/v1alpha1
kind: PostgresUser
metadata:
  name: anime-radarr
  annotations:
    postgres.db.movetokube.com/instance: postgres17-rw
spec:
  role: anime-radarr-group
  database: anime-radarr-main
  secretName: anime-radarr-db-secret
  privileges: OWNER
  secretTemplate:
    HOST_NO_PORT: "{{ .Hostname }}"
    PORT: "{{ .Port }}"

