---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  app:
    # strategy: RollingUpdate
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      app:
        image:
          repository: vikunja/vikunja
          tag: 1.0.0-rc3
        env:
          TZ: America/Vancouver
          VIKUNJA_CONFIG: /configmap/config.yml
          VIKUNJA_SERVICE_ENABLEREGISTRATION: false
          VIKUNJA_SERVICE_TIMEZONE: "America/Vancouver"
          VIKUNJA_SERVICE_PUBLICURL: "https://tasks.g4v.dev"
          VIKUNJA_SERVICE_FRONTENDURL: "https://tasks.g4v.dev"
          VIKUNJA_SERVICE_ENABLEPUBLICTEAMS: true
          VIKUNJA_FILES_BASEPATH: /app/vikunja/files
          VIKUNJA_FILES_TYPE: s3
          VIKUNJA_FILES_S3_ENDPOINT: https://halkeye-vikunja.tor1.digitaloceanspaces.com
          VIKUNJA_FILES_S3_BUCKET: "halkeye-vikunja"
          VIKUNJA_FILES_S3_REGION: tor1
          VIKUNJA_FILES_S3_USEPATHSTYLE: "true"
          VIKUNJA_FRONTEND_URL: "https://tasks.g4v.dev"
          VIKUNJA_AUTH_LOCAL: false
          VIKUNJA_METRICS_ENABLED: true
          VIKUNJA_MAILER_ENABLED: true
          VIKUNJA_MAILER_HOST: smtp-relay.smtp-relay.svc.cluster.local
          VIKUNJA_MAILER_PORT: 2525
          VIKUNJA_MAILER_FROMEMAIL: "noreply@g4v.dev"
          VIKUNJA_MAILER_SKIPTLSVERIFY: true
          VIKUNJA_KEYVALUE_TYPE: "memory"
          # Postgres
          VIKUNJA_DATABASE_TYPE: "postgres"
          VIKUNJA_DATABASE_NAME:
            valueFrom:
              secretKeyRef:
                name: vikunja-db-secret-vikunja
                key: LOGIN
          VIKUNJA_DATABASE_USER:
            valueFrom:
              secretKeyRef:
                name: vikunja-db-secret-vikunja
                key: LOGIN
          VIKUNJA_DATABASE_PASSWORD:
            valueFrom:
              secretKeyRef:
                name: vikunja-db-secret-vikunja
                key: PASSWORD
          VIKUNJA_DATABASE_HOST:
            valueFrom:
              secretKeyRef:
                name: vikunja-db-secret-vikunja
                key: HOST
          VIKUNJA_DATABASE_DATABASE:
            valueFrom:
              secretKeyRef:
                name: vikunja-db-secret-vikunja
                key: DATABASE_NAME
          VIKUNJA_DATABASE_SSLMODE: "require"
        envFrom:
          - secretRef:
              name: "vikunja-secret"
        resources:
          requests:
            cpu: 50m
            memory: 100Mi
          limits:
            memory: 500Mi
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /api/v1/info
                port: 3456
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
serviceMonitor:
  app:
    serviceName: app
    endpoints:
      - port: http
        scheme: http
        path: /api/v1/metrics
        interval: 1m
        scrapeTimeout: 10s
        basicAuth:
          username:
            name: "vikunja-secret"
            key: VIKUNJA_METRICS_USERNAME
          password:
            name: "vikunja-secret"
            key: VIKUNJA_METRICS_PASSWORD
service:
  main:
    controller: app
    ports:
      http:
        port: 3456
route:
  main:
    enabled: true
    parentRefs:
      - name: http-gateway
        namespace: envoy-gateway
        sectionName: https
    hostnames:
      - "tasks.g4v.dev"
    rules:
      - matches:
        - path:
            type: PathPrefix
            value: /
        backendRefs:
          - identifier: main
            port: http
persistence:
  tmp:
    type: emptyDir
  files:
    enabled: true
    suffix: files
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 10Gi
    advancedMounts:
      app:
        app:
        - path: /app/vikunja/files
  configmap:
    enabled: true
    type: configMap
    name: "vikunja"
    globalMounts:
      - path: /configmap/config.yml
        readOnly: true
        subPath: config.yml
