# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  main:
    replicas: 0
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      booklore:
        image:
          repository: ghcr.io/booklore-app/booklore
          tag: v1.17.0
          # repository: docker.io/halkeye/dev-booklore
          # tag: pr-2122-5
        command:
          - sh
          - -c
          - "chown -R 1026:100 /app/data; /start.sh"
        env:
          TZ: America/Vancouver
          USER_ID: "1026"
          GROUP_ID: "100"
          BOOKLORE_DB_USER: "booklore"
          BOOKLORE_DB_PASS:
            valueFrom:
              secretKeyRef:
                name: booklore
                key: BOOKLORE_DB_PASS
          DATABASE_URL: "jdbc:mariadb://mariadb-cluster-primary.mariadb-operator.svc.cluster.local:3306/booklore"
          DATABASE_USERNAME: booklore
          DATABASE_PASSWORD:
            valueFrom:
              secretKeyRef:
                name: booklore
                key: BOOKLORE_DB_PASS
        envFrom:
          - secretRef:
              name: "booklore"
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /
                port: 6060
              initialDelaySeconds: 30
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
          startup:
            enabled: false
        # securityContext:
        #   allowPrivilegeEscalation: false
        #   readOnlyRootFilesystem: true
        #   capabilities:
        #     drop: ["ALL"]
        resources:
          limits:
            memory: 4Gi
          requests:
            cpu: 10m
            memory: 256Mi
    # pod:
    #   securityContext:
    #     runAsUser: 1026
    #     runAsGroup: 100
    #     runAsNonRoot: true
    #     fsGroup: 100
    #     fsGroupChangePolicy: OnRootMismatch
service:
  main:
    controller: main
    ports:
      http:
        port: 6060
ingress:
  main:
    className: nginx
    enabled: true
    hosts:
      - host: "booklore.g4v.dev"
        paths:
          - path: /
            service:
              identifier: main
              port: http
persistence:
  data:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 5Gi
    globalMounts:
      - path: /app/data
  tmp:
    type: emptyDir
  bookdrop:
    type: emptyDir
    globalMounts:
      - path: /bookdrop
  books:
    type: nfs
    server: 172.16.10.10
    path: /volume1/Downloads/Books.tmp
    globalMounts:
      - path: /books
