---
apiVersion: db.movetokube.com/v1alpha1
kind: PostgresUser
metadata:
  name: sonarr
  annotations:
    postgres.db.movetokube.com/instance: postgres17-rw
spec:
  role: sonarr
  database: sonarr-main
  secretName: sonarr-db-secret
  privileges: OWNER
  secretTemplate:
    HOST_NO_PORT: "{{ .Hostname }}"
    PORT: "{{ .Port }}"
