app-template:
  controllers:
    main:
      annotations:
        reloader.stakater.com/auto: "true"
      containers:
        main:
          image:
            repository: ghcr.io/plankanban/planka
            tag: 2.0.0@sha256:f82726333b953bd0d11184fa95a4fe4b068bab0e43e49254cf2963ad91b7c21a
          env:
            TZ: America/Vancouver
            BASE_URL: https://planka.g4v.dev
            WEBHOOKS: "[]"
            PGSSLMODE: no-verify
            DATABASE_URL:
              valueFrom:
                secretKeyRef:
                  name: planka-db-secret-planka
                  key: DB_URL
          envFrom:
            - secretRef:
                name: "{{.Release.Name}}-secret"
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: false
            capabilities:
              drop: ["ALL"]
          resources:
            limits: &resources
              memory: 2Gi
            requests:
              <<: *resources
              cpu: 10m
      pod:
        securityContext:
          runAsUser: 1000
          runAsGroup: 1000
          runAsNonRoot: true
          fsGroup: 1000
          fsGroupChangePolicy: OnRootMismatch
  service:
    main:
      controller: main
      ports:
        http:
          port: 1337
  ingress:
    main:
      enabled: true
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Tools
        gethomepage.dev/icon: https://raw.githubusercontent.com/walkxcode/dashboard-icons/master/png/planka.png
        gethomepage.dev/name: Planka
      hosts:
        - host: "planka.g4v.dev"
          paths:
            - path: /
              service:
                identifier: main
                port: http
  persistence:
    config:
      enabled: true
      accessMode: ReadWriteOnce
      size: 10Gi
      advancedMounts:
        main:
          main:
            - path: /app/public/user-avatars
              subPath: user-avatars
            - path: /app/private/attachments
              subPath: attachments
            - path: /app/public/project-background-images
              subPath: project-background-images
