---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  komf:
    strategy: Recreate
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      komf:
        image:
          repository: sndxr/komf
          tag: "1.6.1@sha256:0825bf2e48aa63fb45c2a3f4319fed5d80dee634df3daeae9c0088f605c25f50"
        env:
          TZ: America/Vancouver
          KOMF_LOG_LEVEL: "debug"
          KOMF_SERVER_PORT: "8085"
          # optional jvm options. Example config for low memory usage. Runs guaranteed cleanup up every 3600000ms(1hour)
          JAVA_TOOL_OPTIONS: "-XX:+UnlockExperimentalVMOptions -XX:+UseShenandoahGC -XX:ShenandoahGCHeuristics=compact -XX:ShenandoahGuaranteedGCInterval=3600000 -XX:TrimNativeHeapInterval=3600000"
        envFrom:
          - secretRef:
              name: "{{.Release.Name}}-secret"
        probes:
          liveness: &probes
            enabled: false
          readiness: *probes
          startup: *probes
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: false
          capabilities:
            drop: ["ALL"]
        resources:
          limits:
            memory: 2Gi
          requests:
            memory: 500Mi
            cpu: 15m
    pod:
      securityContext:
        runAsUser: 1026
        runAsGroup: 100
        runAsNonRoot: true
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch

service:
  komf:
    controller: komf
    ports:
      http:
        port: 8085

ingress:
  main:
    enabled: true
    annotations:
      gethomepage.dev/enabled: "false"
    hosts:
      - host: komf.g4v.dev
        paths:
          - path: /
            service:
              identifier: komf
              port: http

persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    suffix: config
    accessMode: ReadWriteOnce
    size: 1Gi
    storageClass: nas-apps
    globalMounts:
      - path: /config
  configmap:
    enabled: true
    type: configMap
    name: "komf-config"
    globalMounts:
      - path: /config/application.yml
        readOnly: true
        subPath: application.yml
  comics:
    type: nfs
    server: 172.16.10.10
    path: /volume1/Comics/Comics
    globalMounts:
      - path: /content/comics
  manga:
    type: nfs
    server: 172.16.10.10
    path: /volume1/Comics/Manga
    globalMounts:
      - path: /content/manga
  webtoons:
    type: nfs
    server: 172.16.10.10
    path: /volume1/Comics/Webtoons
    globalMounts:
      - path: /content/webtoons
  webcomics:
    type: nfs
    server: 172.16.10.10
    path: /volume1/Comics/Webcomics
    globalMounts:
      - path: /content/webcomics
