---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
defaultPodOptions:
  securityContext:
    runAsUser: 1000
    runAsGroup: 1000
    runAsNonRoot: true
    fsGroup: 1000
    fsGroupChangePolicy: "OnRootMismatch"

controllers:
  hoarder:
    annotations:
      reloader.stakater.com/auto: "true"
      litestream: enabled
    containers:
      app:
        image:
          repository: ghcr.io/karakeep-app/karakeep
          tag: 0.31.0
        env:
          ASSET_STORE_S3_BUCKET: halkeye-hoarder
          ASSET_STORE_S3_ENDPOINT: https://halkeye-hoarder.tor1.digitaloceanspaces.com
          ASSET_STORE_S3_FORCE_PATH_STYLE: true
          ASSET_STORE_S3_REGION: tor1
          BROWSER_WEB_URL: http://hoarder-chrome:9222
          COREPACK_INTEGRITY_KEYS: 0 # until https://github.com/hoarder-app/hoarder/commit/c032f5065e5f1c62c0f57cd00462be4689178a23 is merged
          CRAWLER_DOWNLOAD_BANNER_IMAGE: true
          CRAWLER_ENABLE_ADBLOCKER: true
          CRAWLER_STORE_SCREENSHOT: true
          DATA_DIR: /data
          DISABLE_NEW_RELEASE_CHECK: true
          DISABLE_PASSWORD_AUTH: true
          DISABLE_SIGNUPS: false
          INFERENCE_FETCH_TIMEOUT_SEC: 600
          INFERENCE_IMAGE_MODEL: llava
          INFERENCE_JOB_TIMEOUT_SEC: 600
          INFERENCE_TEXT_MODEL: gemma3
          MEILI_ADDR: http://hoarder-meilisearch:7700
          MEILI_MASTER_KEY: { valueFrom: { secretKeyRef: { name: hoarder-secret, key: meilisearch_master_key } } }
          NEXTAUTH_SECRET: { valueFrom: { secretKeyRef: { name: hoarder-secret, key: encryption_key } } }
          NEXTAUTH_URL: https://hoarder.g4v.dev
          WORKERS_HOST: 0.0.0.0
          WORKERS_PORT: 3005
          SMTP_HOST: smtp-relay.smtp-relay.svc.cluster.local
          SMTP_PORT: 2525
          SMTP_FROM: hoarder@g4v.dev
        envFrom:
          - secretRef:
              name: "hoarder-secret"
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 1Gi

  chrome:
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      app:
        image:
          repository: gcr.io/zenika-hub/alpine-chrome
          tag: 124
        command:
          - chromium-browser
        args:
          - --headless
          - --no-sandbox
          - --disable-gpu
          - --disable-dev-shm-usage
          - --remote-debugging-address=0.0.0.0
          - --remote-debugging-port=9222
          - --hide-scrollbars
        securityContext:
          capabilities:
            drop:
              - ALL
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 1Gi

  meilisearch:
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      app:
        command:
          - /bin/sh
          - -c
          - /bin/meilisearch
          # --experimental-dumpless-upgrade
        image:
          repository: docker.io/getmeili/meilisearch
          tag: v1.36.0
        env:
          MEILI_NO_ANALYTICS: true
          MEILI_MASTER_KEY:
            valueFrom:
              secretKeyRef:
                name: hoarder-secret
                key: meilisearch_master_key
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 1Gi

service:
  app:
    controller: hoarder
    ports:
      http:
        port: 3000
      metrics:
        port: 3005
  chrome:
    controller: chrome
    ports:
      http:
        port: 9222
  meilisearch:
    controller: meilisearch
    ports:
      http:
        port: 7700

route:
  main:
    enabled: true
    parentRefs:
      - name: http-gateway
        namespace: envoy-gateway
        sectionName: https
    hostnames:
      - hoarder.g4v.dev
    rules:
      - matches:
        - path:
            type: PathPrefix
            value: /
        backendRefs:
          - group: ''
            kind: Service
            identifier: app
            port: http
            weight: 1

persistence:
  data:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 10Gi
    advancedMounts:
      hoarder:
        app:
          - path: /data
            subPath: hoarder
  meilisearch:
    enabled: true
    type: emptyDir
    # type: persistentVolumeClaim
    # accessMode: ReadWriteOnce
    # size: 10Gi
    advancedMounts:
      meilisearch:
        app:
          - path: /meili_data
            subPath: meilisearch
  litestream-configmap:
    type: configMap
    name: litestream-configmap
    globalMounts: []

serviceMonitor:
  main:
    enabled: true
    serviceName: 'hoarder-app'
    endpoints:
      - port: http
        scheme: http
        path: /api/metrics
        interval: 1m
        scrapeTimeout: 1m
        bearerTokenSecret:
          name: hoarder-secret
          key: PROMETHEUS_AUTH_TOKEN
