# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  kavita:
    strategy: Recreate
    containers:
      kavita:
        image:
          repository: ghcr.io/kareadita/kavita
          tag: 0.8.8
        env:
          TZ: America/Vancouver
          COMPlus_EnableDiagnostics: "0"
        resources:
          requests:
            cpu: 50m
            memory: 500Mi
          limits:
            cpu: 500m
            memory: 2Gi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: false
          capabilities:
            drop: ["ALL"]
    pod:
      securityContext:
        runAsUser: 1026
        runAsGroup: 100
        runAsNonRoot: true
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch

service:
  kavita:
    controller: kavita
    ports:
      http:
        port: 5000

ingress:
  kavita:
    enabled: true
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/group: Comics
      gethomepage.dev/icon: https://raw.githubusercontent.com/walkxcode/dashboard-icons/master/png/kavita.png
      gethomepage.dev/name: Kavita
    hosts:
      - host: "kavita.g4v.dev"
        paths:
          - path: /
            service:
              identifier: kavita
              port: http
  kavita-funnel:
    enabled: true
    annotations:
      tailscale.com/funnel: "true"
    className: tailscale
    defaultBackend:
      service:
        name: kavita
        port:
          name: https
    tls:
      - hosts:
          - kavita

persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 5Gi
    globalMounts:
      - path: /kavita/config
  comics:
    type: nfs
    server: 172.16.10.10
    path: /volume1/Comics/Comics
    globalMounts:
      - path: /content/comics
  manga:
    type: nfs
    server: 172.16.10.10
    path: /volume1/Comics/Manga
    globalMounts:
      - path: /content/manga
  webtoons:
    type: nfs
    server: 172.16.10.10
    path: /volume1/Comics/Webtoons
    globalMounts:
      - path: /content/webtoons
  webcomics:
    type: nfs
    server: 172.16.10.10
    path: /volume1/Comics/Webcomics
    globalMounts:
      - path: /content/webcomics
  stashcontent:
    type: nfs
    server: 172.16.10.10
    path: /volume1/StashContent
    globalMounts:
      - path: /content/stash
  books:
    type: nfs
    server: 172.16.10.10
    path: /volume1/Books
    globalMounts:
      - path: /content/books
  rpgs:
    type: nfs
    server: 172.16.10.10
    path: /volume1/RPGs
    globalMounts:
      - path: /content/rpgs
