controllers:
  main:
    type: cronjob
    revisionHistoryLimit: 1
    annotations:
      reloader.stakater.com/auto: 'true'
    cronjob:
      schedule: '@hourly'
      successfulJobsHistory: 10
      failedJobsHistory: 5
      backoffLimit: 1
    containers:
      jellyplexwatched:
        image:
          repository: luigi311/jellyplex-watched
          tag: latest@sha256:e72a10f4cc0bdf6ddad7e03bb8419639ab991fb0b7396f4845340e6f9135f904
        env:
          TZ: America/Vancouver
          ## Do not mark any shows/movies as played and instead just output to log if they would of been marked.
          DRYRUN: 'False'
          ## Additional logging information
          DEBUG: 'True'
          ## Debugging level, "info" is default, "debug" is more verbose
          DEBUG_LEVEL: 'info'
          ## If set to true then the script will only run once and then exit
          RUN_ONLY_ONCE: 'True'
          ## How often to run the script in seconds
          SLEEP_DURATION: '3600'
          ## Log file where all output will be written to
          LOG_FILE: '/dev/stdout'
          ## Map libraries between servers in the event that they are different, order does not matter
          ## Comma separated for multiple options
          LIBRARY_MAPPING: '{"TV Shows":"TV Shows", "Comedians (Video)": "Comedians", "Comedians (Audio)": "Comedians", "Movies": "Movies", "Webseries (Movies)": "Web Content", "Webseries": "Web Content", "Anime (TV)": "Anime (TV)", "Anime (Movies)": "Anime (Movies)", "Music": "Music"}'
          ## Mark file where all shows/movies that have been marked as played will be written to
          MARK_FILE: '/data/mark.txt'
          ## Timeout for requests for jellyfin
          REQUEST_TIMEOUT: 3000
          ## Generate guids
          ## Generating guids is a slow process, so this is a way to speed up the process
          ## by using the location only, useful when using same files on multiple servers
          GENERATE_GUIDS: 'True'
          ## Generate locations
          ## Generating locations is a slow process, so this is a way to speed up the process
          ## by using the guid only, useful when using different files on multiple servers
          GENERATE_LOCATIONS: 'True'
          ## Max threads for processing
          MAX_THREADS: 32
          ## Skip hostname validation for ssl certificates.
          ## Set to True if running into ssl certificate errors
          SSL_BYPASS: 'False'
          ## control the direction of syncing. e.g. SYNC_FROM_PLEX_TO_JELLYFIN set to true will cause the updates from plex
          ## to be updated in jellyfin. SYNC_FROM_PLEX_TO_PLEX set to true will sync updates between multiple plex servers
          SYNC_FROM_PLEX_TO_JELLYFIN: 'True'
          SYNC_FROM_JELLYFIN_TO_PLEX: 'False'
          SYNC_FROM_PLEX_TO_PLEX: 'False'
          SYNC_FROM_JELLYFIN_TO_JELLYFIN: 'False'
        envFrom:
          - secretRef:
              name: '{{.Release.Name}}-secret'
persistence:
  data:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 1Gi
    storageClass: nas-apps
