---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  # auto-compressor:
  #   type: cronjob
  #   annotations:
  #     reloader.stakater.com/auto: 'true'
  #   cronjob:
  #     ttlSecondsAfterFinished: 43200
  #     schedule: "0 2 * * *" # Every day at 2am
  #     successfulJobsHistory: 1
  #     failedJobsHistory: 3
  #   containers:
  #     main:
  #       image:
  #         repository: registry.gitlab.com/mb-saces/synatainer
  #         tag: 0.4.4
  #       envFrom:
  #         - secretRef:
  #             name: synatainer-secret
  #       env:
  #         STATE_AUTOCOMPRESSOR_CHUNKS_TO_COMPRESS: 100
  #         STATE_AUTOCOMPRESSOR_CHUNK_SIZE: 500
  #       securityContext:
  #         allowPrivilegeEscalation: false
  #         readOnlyRootFilesystem: true
  #         capabilities: { drop: ["ALL"] }
  #       command: ["autocompressor.sh"]
  #       resources:
  #         requests:
  #           cpu: 12m
  #           memory: 64M
  #         limits:
  #           memory: 256M

  purge-rooms:
    type: cronjob
    annotations:
      reloader.stakater.com/auto: 'true'
    cronjob:
      ttlSecondsAfterFinished: 43200
      schedule: "0 3 * * *" # Every day at 3am
      concurrencyPolicy: Forbid
      successfulJobsHistory: 1
      failedJobsHistory: 1
      backoffLimit: 1
    containers:
      main:
        image:
          repository: registry.gitlab.com/mb-saces/synatainer
          tag: 0.4.4
        envFrom:
          - secretRef:
              name: synatainer-secret
        resources:
          requests:
            cpu: 12m
            memory: 64M
          limits:
            memory: 256M
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        command: ["purge_rooms_no_local_members.sh"]

  purge-history:
    type: cronjob
    annotations:
      reloader.stakater.com/auto: 'true'
    cronjob:
      ttlSecondsAfterFinished: 43200
      concurrencyPolicy: Forbid
      schedule: "0 5 * * 1" # Every monday at 5am
      successfulJobsHistory: 1
      failedJobsHistory: 1
      backoffLimit: 1
    containers:
      main:
        image:
          repository: registry.gitlab.com/mb-saces/synatainer
          tag: 0.4.4
        envFrom:
          - secretRef:
              name: synatainer-secret
        resources:
          requests:
            cpu: 12m
            memory: 64M
          limits:
            memory: 256M
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        env:
          HISTORY_MAX_AGE: 365
          HISTORY_ROOM_LIST: all
        command: ["purge_history.sh"]

  vacuum:
    type: cronjob
    annotations:
      reloader.stakater.com/auto: 'true'
    cronjob:
      ttlSecondsAfterFinished: 43200
      schedule: "0 4 1 * *" # First day of every month at 4:00 am
      concurrencyPolicy: Forbid
      successfulJobsHistory: 1
      failedJobsHistory: 1
      backoffLimit: 1
    containers:
      main:
        image:
          repository: registry.gitlab.com/mb-saces/synatainer
          tag: 0.4.4
        envFrom:
          - secretRef:
              name: synatainer-secret
        resources:
          requests:
            cpu: 12m
            memory: 64M
          limits:
            memory: 256M
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        command: ["stui", "vacuum-db", "--full"]

