controllers:
  main:
    replicas: 1
    annotations:
      reloader.stakater.com/auto: 'true'
    containers:
      main:
        image:
          repository: bellamy/wallos
          tag: 4.6.0
        env:
          TZ: America/Vancouver
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /
                port: 80
              initialDelaySeconds: 5
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        resources:
          requests:
            cpu: 10m
            memory: 128Mi
          limits:
            memory: 256Mi
service:
  main:
    controller: main
    ports:
      http:
        port: 80
ingress:
  main:
    enabled: true
    annotations:
      gethomepage.dev/enabled: 'true'
      gethomepage.dev/group: "Tools"
      gethomepage.dev/name: "Wallos"
      gethomepage.dev/icon: "https://raw.githubusercontent.com/homarr-labs/dashboard-icons/main/png/wallos.png"
    hosts:
      - host: wallos.g4v.dev
        paths:
          - path: /
            service:
              identifier: main
              port: http
persistence:
  data:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 20Gi
    globalMounts:
      - path: /var/www/html/db
        subPath: db
      - path: /var/www/html/images/uploads/logos
        subPath: logos
  tmp:
    enabled: true
    type: emptyDir
    globalMounts:
      - path: /tmp
  litestream-configmap:
    type: configMap
    name: litestream-configmap
    globalMounts: []
