controllers:
  main:
    type: statefulset
    annotations:
      reloader.stakater.com/auto: 'true'
    containers:
      main:
        image:
          repository: ghcr.io/linus2punkt0/bluesky-crossposter
          tag: latest@sha256:512d63e5cd4ebd7847f22c40984409d47502e7c2493a151bac317552e4e50090 
        env:
          TZ: America/Vancouver
        envFrom:
          - secretRef:
              name: "bluesky-crossposter-secret"
persistence:
  db:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 1Gi
