controllers:
  main:
    type: statefulset
    annotations:
      reloader.stakater.com/auto: 'true'
    containers:
      main:
        image:
          repository: ghcr.io/linus2punkt0/bluesky-crossposter
          tag: latest@sha256:e2bf5ee80247642786c4a588e51c0b1e01b6217841f9a5879e7b404b147235f7
        env:
          TZ: America/Vancouver
        envFrom:
          - secretRef:
              name: "bluesky-crossposter-secret"
persistence:
  db:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 1Gi
