controllers:
  main:
    type: statefulset
    annotations:
      reloader.stakater.com/auto: 'true'
    containers:
      main:
        image:
          repository: ghcr.io/linus2punkt0/bluesky-crossposter
          tag: latest@sha256:2430e9561d1df25a6e641ff6750374c7cf3f4b16cabf05b2da320f22862e1747 
        env:
          TZ: America/Vancouver
        envFrom:
          - secretRef:
              name: "bluesky-crossposter-secret"
persistence:
  db:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 1Gi
