---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmGlobals:
  chartHome: ./charts/

generatorOptions:
  disableNameSuffixHash: true

helmCharts:
  - name: ext-postgres-operator
    releaseName: do-k8s-ext-postgres-operator
    version: 2.3.0
    repo: https://movetokube.github.io/postgres-operator/
    valuesFile: values.yaml

resources:
  - ./secret.enc.yaml
