# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
defaultPodOptions:
  securityContext:
    runAsUser: 1026
    runAsGroup: 100
    runAsNonRoot: true
    fsGroup: 100
    fsGroupChangePolicy: OnRootMismatch

controllers:
  main:
    strategy: Recreate
    pod:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/arch
                    operator: NotIn
                    values:
                      - arm64
    containers:
      openbooks:
        image:
          repository: evanbuss/openbooks
          tag: 4.5.0
        args:
          - --name=$(OPENBOOKS_IRC_NICK)
          - --useragent=$(OPENBOOKS_IRC_NICK)
          - --dir=/openbooks
          - --debug
          - --persist
          - --log
          - --port=5228
        env:
          TZ: America/Vancouver
        envFrom:
          - secretRef:
              name: "openbooks-secret"
        probes:
          liveness: &probes
            enabled: false
          readiness: *probes
          startup:
            enabled: false
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop: ["ALL"]
        resources:
          limits:
            memory: 500Mi
          requests:
            memory: 100Mi
            cpu: 10m

service:
  main:
    controller: main
    ports:
      http:
        port: 5228

route:
  main:
    enabled: true
    parentRefs:
      - name: http-gateway
        namespace: envoy-gateway
        sectionName: https
    hostnames:
      - "openbooks.g4v.dev"
    rules:
      - matches:
        - path:
            type: PathPrefix
            value: /
        backendRefs:
          - group: ''
            kind: Service
            identifier: main
            port: http
            weight: 1

persistence:
  downloads:
    type: nfs
    server: 172.16.10.10
    path: "/volume1/Downloads"
    globalMounts:
      - path: /openbooks/books
        subPath: Books
  openbooks:
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    suffix: openbooks
    size: 1Gi
    globalMounts:
      - path: /openbooks/logs
        subPath: logs
