# yaml-language-server: $schema=https://raw.githubusercontent.com/recyclarr/recyclarr/master/schemas/config-schema.json
# Instance Definition: https://recyclarr.dev/wiki/yaml/config-reference/basic/
radarr:
  anime-radarr:
    # Set the URL/API Key to your actual instance
    base_url: https://anime-radarr.g4v.dev:443
    api_key: !env_var RADARR_API_KEY
    delete_old_custom_formats: true
    # Quality Definition Settings
    quality_definition:
      type: anime

    quality_profiles:
      - trash_id: 722b624f9af1e492284c4bc842153a38  # [Anime] Remux-1080p
        reset_unmatched_scores:
          enabled: true

    custom_format_groups:
      add:
        - trash_id: "4a3b087eea2ce012fcc1ce319259a3be" # Anime Dual Audio
      skip:
        - trash_id: "064af5f084a0a24458cc8ecd3220f93f" # Uncensored
        - trash_id: "a5d148168c4506b55cf53984107c396e" # 10bit
