# yaml-language-server: $schema=https://raw.githubusercontent.com/recyclarr/recyclarr/master/schemas/config-schema.json
# Instance Definition: https://recyclarr.dev/wiki/yaml/config-reference/basic/
sonarr:
  anime-sonarr-v4:
    # Set the URL/API Key to your actual instance
    base_url: https://anime-sonarr.g4v.dev:443
    api_key: !env_var SONARR_API_KEY
    delete_old_custom_formats: true
    quality_definition:
      type: anime
    # Custom Formats: https://recyclarr.dev/wiki/yaml/config-reference/custom-formats/
    custom_format_groups:
      add:
        - trash_id: 418f50b10f1907201b6cfdf881f467b7 # Anime Dual Audio
      skip:
        - trash_id: 026d5aadd1a6b4e550b134cb6c72b3ca # Uncensored
        - trash_id: b2550eb333d27b75833e25b8c2557b38 # 10bit
