# yaml-language-server: $schema=https://raw.githubusercontent.com/recyclarr/recyclarr/master/schemas/config-schema.json
# Instance Definition: https://recyclarr.dev/wiki/yaml/config-reference/basic/
radarr:
  radarr:
    # Set the URL/API Key to your actual instance
    base_url: https://radarr.g4v.dev:443
    api_key: !env_var RADARR_API_KEY
    delete_old_custom_formats: true
    quality_definition:
      type: movie
