---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  main:
    strategy: RollingUpdate
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      app:
        image:
          repository: ghcr.io/foxcpp/maddy
          tag: 0.8.1
        env:
          TZ: America/Vancouver
          # DEBUG: "yes"
        envFrom:
          - secretRef:
              name: smtp-relay
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: false
          capabilities: { drop: ["ALL"] }
        resources:
          requests:
            cpu: 10m
            memory: 10Mi
service:
  app:
    controller: main
    ports:
      http:
        port: 2525
      metrics:
        port: 9749
serviceMonitor:
  app:
    serviceName: smtp-relay
    enabled: true
    endpoints:
      - port: metrics
        scheme: http
        path: /metrics
        interval: 1m
        scrapeTimeout: 1m
persistence:
  config:
    enabled: true
    type: configMap
    name: smtp-relay
    globalMounts:
      - path: /data/maddy.conf
        subPath: maddy.conf
        readOnly: true
  data:
    enabled: true
    type: emptyDir
    sizeLimit: 1Gi
    globalMounts:
      - path: /dev/shm
