---
apiVersion: db.movetokube.com/v1alpha1
kind: PostgresUser
metadata:
  name: prowlarr
  annotations:
    postgres.db.movetokube.com/instance: postgres17-rw
spec:
  role: prowlarr-group
  database: prowlarr-main
  secretName: prowlarr-db-secret
  privileges: OWNER
  secretTemplate:
    HOST_NO_PORT: "{{ .Hostname }}"
    PORT: "{{ .Port }}"
