controllers:
  main:
    annotations:
      reloader.stakater.com/auto: "true"
    strategy: Recreate
    containers:
      microbin:
        image:
          repository: ghcr.io/vaskozl/microbin-bin
          tag: 2.0.4
        env:
          TZ: America/Vancouver
          MICROBIN_PUBLIC_PATH: https://mb.g4v.dev
          MICROBIN_SHORT_PATH: https://mb.g4v.dev
          MICROBIN_READONLY: true
          MICROBIN_ADMIN_USERNAME: admin
          MICROBIN_HIDE_HEADER: true
          MICROBIN_HIDE_FOOTER: true
          MICROBIN_HIDE_LOGO: true
          MICROBIN_NO_LISTING: true
          MICROBIN_ENABLE_BURN_AFTER: true
          MICROBIN_WIDE: true
          MICROBIN_ETERNAL_PASTA: true
          MICROBIN_ENABLE_READONLY: true
          MICROBIN_HASH_IDS: true
          MICROBIN_DATA_DIR: /data
          MICROBIN_PORT: 8080
        envFrom:
          - secretRef:
              name: "{{.Release.Name}}-secret"
        probes:
          liveness: &probes
            enabled: true
          readiness: *probes
          startup:
            enabled: false
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop: ["ALL"]
        resources:
          limits:
            memory: 80Mi
          requests:
            memory: 10Mi
            cpu: 10m
    pod:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        runAsNonRoot: true
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
service:
  main:
    controller: main
    ports:
      http:
        port: 8080
route:
  main:
    enabled: true
    parentRefs:
      - name: http-gateway
        namespace: envoy-gateway
        sectionName: https
    hostnames:
      - "mb.g4v.dev"
    rules:
      - matches:
        - path:
            type: PathPrefix
            value: /
        backendRefs:
          - identifier: main
            port: http
persistence:
  data:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 1Gi
  tmp:
    type: emptyDir
