# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  main:
    strategy: Recreate
    replicas: 1
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      autobrr:
        image:
          repository: ghcr.io/autobrr/autobrr
          tag: v1.70.0@sha256:c691d8ddd5184c155d1732244519f0c09dc44559a7a0da14c6d0dc3edf7fcfb3
        env:
          TZ: America/Vancouver
          AUTOBRR__CHECK_FOR_UPDATES: false
          AUTOBRR__HOST: 0.0.0.0
          AUTOBRR__PORT: 7474
          AUTOBRR__LOG_LEVEL: DEBUG
          AUTOBRR__OIDC_ENABLED: "true"
          AUTOBRR__OIDC_ISSUER: "https://auth.g4v.dev/application/o/autobrr/"
          AUTOBRR__OIDC_REDIRECT_URL: "https://autobrr.g4v.dev/api/auth/oidc/callback"
          AUTOBRR__DATABASE_TYPE: postgres
          AUTOBRR__POSTGRES_DATABASE: "{{ .Release.Name }}"
          AUTOBRR__POSTGRES_PORT:
            valueFrom:
              secretKeyRef:
                name: "{{ .Release.Name }}-db-secret-{{ .Release.Name }}"
                key: PORT
          AUTOBRR__POSTGRES_HOST:
            valueFrom:
              secretKeyRef:
                name: "{{ .Release.Name }}-db-secret-{{ .Release.Name }}"
                key: HOST_NO_PORT
          AUTOBRR__POSTGRES_USER:
            valueFrom:
              secretKeyRef:
                name: "{{ .Release.Name }}-db-secret-{{ .Release.Name }}"
                key: LOGIN
          AUTOBRR__POSTGRES_PASS:
            valueFrom:
              secretKeyRef:
                name: "{{ .Release.Name }}-db-secret-{{ .Release.Name }}"
                key: PASSWORD
        envFrom:
          - secretRef:
              name: "{{.Release.Name}}-secret"
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /api/healthz/liveness
                port: 7474
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
          startup:
            enabled: false
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop: ["ALL"]
        resources:
          limits:
            memory: 1024Mi
          requests:
            memory: 500Mi
            cpu: 10m
    pod:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        runAsNonRoot: true
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
service:
  main:
    controller: main
    ports:
      http:
        port: 7474
ingress:
  main:
    enabled: true
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/group: Media Fetchers
      gethomepage.dev/icon: https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/png/autobrr.png
      gethomepage.dev/name: Autobrr
    hosts:
      - host: autobrr.g4v.dev
        paths:
          - path: /
            service:
              identifier: main
              port: http
persistence:
  tmp:
    type: emptyDir
  config:
    type: emptyDir
