controllers:
  main:
    replicas: 1
    containers:
      main:
        image:
          repository: stashapp/stash
          tag: v0.30.1
        env:
          TZ: America/Vancouver
          STASH_PORT: "9999"
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /healthz
                port: 9999
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
          startup:
            enabled: false
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop: ["ALL"]
        resources:
          limits: &resources
            memory: 2Gi
          requests:
            <<: *resources
            cpu: 50m
service:
  main:
    controller: main
    ports:
      http:
        port: 9999
route:
  main:
    enabled: true
    parentRefs:
      - name: http-gateway
        namespace: envoy-gateway
        sectionName: https
    hostnames:
      - "stash.g4v.dev"
    rules:
      - matches:
        - path:
            type: PathPrefix
            value: /
        backendRefs:
          - group: ''
            kind: Service
            identifier: main
            port: http
            weight: 1
persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    storageClass: longhorn
    accessMode: ReadWriteOnce
    suffix: config
    size: 10Gi
    globalMounts:
      - path: /root/.stash
  stashcontent:
    type: nfs
    server: 172.16.10.10
    path: /volume1/StashContent
    globalMounts:
      - path: /content
  transcode:
    type: nfs
    server: 172.16.10.10
    path: /volume1/Apps/stash/transcode
    globalMounts:
      - path: /media/transcode
