---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  main:
    containers:
      main:
        image:
          repository: ghcr.io/tzahi12345/youtubedl-material
          tag: nightly-2024-02-27
        env:
          TZ: America/Vancouver
          HOME: /tmp
          UID: 1026
          GID: 100
        resources:
          limits:
            memory: 1Gi
          requests:
            memory: 1Gi
            cpu: 10m
        probes:
          liveness:
            enabled: false
          readiness:
            enabled: false
          startup:
            enabled: false
service:
  main:
    controller: main
    ports:
      http:
        port: 17442

route:
  main:
    enabled: true
    parentRefs:
      - name: http-gateway
        namespace: envoy-gateway
        sectionName: https
    hostnames:
      - "youtubedl.g4v.dev"
    rules:
      - matches:
        - path:
            type: PathPrefix
            value: /
        backendRefs:
          - group: ''
            kind: Service
            identifier: main
            port: http
            weight: 1

persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    suffix: config
    size: 1Gi
    storageClass: nas-apps
    globalMounts:
      - path: /app/appdata
  data:
    enabled: true
    type: nfs
    server: 172.16.10.10
    path: /volume1/Apps/youtubedl
    advancedMounts:
      main:
        main:
          - path: /app/audio
            subPath: audio
          - path: /app/video
            subPath: video
          - path: /app/subscriptions
            subPath: subscriptions
          - path: /app/users
            subPath: users
  cache:
    enabled: true
    type: emptyDir
    globalMounts:
      - path: /app/pm2
  tmp:
    enabled: true
    type: emptyDir
    globalMounts:
      - path: /tmp
