nameOverride: external-dns-pihole
fullnameOverride: external-dns-pihole
policy: sync
image:
  repository: registry.k8s.io/external-dns/external-dns
  tag: v0.20.0
deploymentAnnotations:
  reloader.stakater.com/auto: 'true'
resources:
  limits:
    memory: 100Mi
  requests:
    cpu: 10m
    memory: 100Mi
domainFilters:
  - g4v.dev
  - h.g4v.dev
serviceMonitor:
  enabled: true
sources:
  - service
  - ingress
  - gateway-httproute
  - gateway-grpcroute
provider:
  name: pihole
registry: noop
env:
  - name: EXTERNAL_DNS_PIHOLE_API_VERSION
    value: "6"
  - name: EXTERNAL_DNS_PIHOLE_PASSWORD
    valueFrom:
      secretKeyRef:
        name: external-dns-pihole-secrets
        key: EXTERNAL_DNS_PIHOLE_PASSWORD
  - name: EXTERNAL_DNS_PIHOLE_SERVER
    valueFrom:
      secretKeyRef:
        name: external-dns-pihole-secrets
        key: EXTERNAL_DNS_PIHOLE_SERVER
