enabled: false
serviceMonitor:
  enabled: true
ingress:
  enabled: true
  annotations:
    gethomepage.dev/enabled: "true"
    gethomepage.dev/group: Monitoring
    gethomepage.dev/icon: https://raw.githubusercontent.com/walkxcode/dashboard-icons/master/png/grafana.png
    gethomepage.dev/name: Grafana
  hosts:
    - stats.g4v.dev
resources:
  requests:
    cpu: 30m
    memory: 256M
dashboardProviders:
  dashboardproviders.yaml:
    apiVersion: 1
    providers:
      - name: "default"
        orgId: 1
        folder: "default"
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/default
      - name: data
        orgId: 1
        folder: Data
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/data
      - name: storage
        orgId: 1
        folder: Storage
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/storage
      - name: mediafetchers
        orgId: 1
        folder: Media Fetchers
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/mediafetchers
      - name: observability
        orgId: 1
        folder: Observability
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/observability
      - name: kubernetes
        orgId: 1
        folder: Kubernetes
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/kubernetes
      - name: network
        orgId: 1
        folder: Network
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/network
plugins:
  - grafana-clock-panel
  - grafana-piechart-panel
  - grafana-worldmap-panel
  - natel-discrete-panel
  - pr0ps-trackmap-panel
  - vonage-status-panel
datasources:
  datasources.yaml:
    apiVersion: 1
    deleteDatasources:
      - name: Alertmanager
        orgId: 1
      - name: Prometheus
        orgId: 1
    datasources:
      - name: Prometheus
        type: prometheus
        uid: prometheus
        isDefault: false
        access: proxy
        url: http://prometheus-operated.monitoring.svc.cluster.local:9090
        jsonData:
          prometheusType: Prometheus
      - name: Alertmanager
        type: alertmanager
        uid: alertmanager
        isDefault: false
        access: proxy
        url: http://alertmanager-operated.monitoring.svc.cluster.local:9093
        jsonData:
          implementation: prometheus
dashboards:
  data:
    redis:
      # renovate: depName="Redis"
      gnetId: 11835
      revision: 1
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    mysql:
      # renovate: depName="MySQL"
      url: https://raw.githubusercontent.com/prometheus/mysqld_exporter/c407e35c629be445c5e3db291910a3ec974be5de/mysqld-mixin/dashboards/mysql-overview.json
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    postgresql:
      # renovate: depName="PostgreSQL"
      gnetId: 9628
      revision: 8
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    cloudnative-pg:
      # renovate: depName="CloudNativePG"
      gnetId: 20417
      revision: 4
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus

  storage:
    minio:
      # renovate: depName="MinIO Dashboard"
      gnetId: 13502
      revision: 26
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    syncthing:
      # renovate: depName="Syncthing"
      gnetId: 19560
      revision: 1
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    smartctl:
      url: https://raw.githubusercontent.com/blesswinsamuel/grafana-dashboards/0801c90f5923f5118fb0d6b1231daf08d590f6c8/dashboards/dist/smartctl.json
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
  mediafetchers:
    radarr:
      # renovate: depName="Radarr v3"
      gnetId: 12896
      revision: 1
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    sonarr:
      # renovate: depName="Sonarr v3"
      gnetId: 12530
      revision: 2
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    exportarr:
      url: https://raw.githubusercontent.com/onedr0p/exportarr/933ed39eba6ecbadfec8d7a9f9f71a07c05d56cb/examples/grafana/dashboard2.json
      token: ''
  observability:
    prometheus:
      # renovate: depName="Prometheus"
      gnetId: 19105
      revision: 7
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    uptime-kuma:
      # renovate: depName="Uptime Kuma"
      gnetId: 18278
      revision: 1
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
  kubernetes:
    oom-and-restarts:
      # renovate: depName="OOM and restarts"
      gnetId: 16718
      revision: 1
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    kubernetes-api-server:
      # renovate: depName="Kubernetes / System / API Server"
      gnetId: 15761
      revision: 19
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    kubernetes-coredns:
      # renovate: depName="Kubernetes / System / CoreDNS"
      gnetId: 15762
      revision: 21
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    kubernetes-global:
      # renovate: depName="Kubernetes / Views / Global"
      gnetId: 15757
      revision: 43
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    kubernetes-namespaces:
      # renovate: depName="Kubernetes / Views / Namespaces"
      gnetId: 15758
      revision: 42
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    kubernetes-nodes:
      # renovate: depName="Kubernetes / Views / Nodes"
      gnetId: 15759
      revision: 39
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    kubernetes-pods:
      # renovate: depName="Kubernetes / Views / Pods"
      gNetId: 15760
      revision: 21
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    kubernetes-volumes:
      # renovate: depName="K8s / Storage / Volumes / Cluster"
      gnetId: 11454
      revision: 14
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    node-exporter-full:
      # renovate: depName="Node Exporter Full"
      gnetId: 1860
      revision: 42
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    node-feature-discovery:
      url: https://raw.githubusercontent.com/kubernetes-sigs/node-feature-discovery/master/examples/grafana-dashboard.json
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    cluster-monitoring:
      # renovate: depName="Cluster Monitoring for Kubernetes"
      gnetId: 10000
      revision: 1
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    cadvisor:
      # renovate: depName="Cadvisor"
      gnetId: 14282
      revision: 1
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    kube-state-metrics-v2:
      # renovate: depName="kube-state-metrics-v2"
      gnetId: 13332
      revision: 12
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    kubernetes-cluster:
      # renovate: depName="Kubernetes Cluster"
      gnetId: 6417
      revision: 1
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
  network:
    blackbox-exporter:
      # renovate: depName="Prometheus Blackbox Exporter"
      gnetId: 14928
      revision: 6
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    website-monitoring:
      # renovate: depName="Website Monitoring"
      gnetId: 13041
      revision: 4
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    coredns:
      # renovate: depName="CoreDNS"
      gnetId: 14981
      revision: 2
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    cert-manager:
      url: https://raw.githubusercontent.com/monitoring-mixins/website/refs/heads/master/assets/cert-manager/dashboards/overview.json
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    unifi-insights:
      # renovate: depName="UniFi-Poller: Client Insights - Prometheus"
      gnetId: 11315
      revision: 9
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    cloudflared:
      # renovate: depName="Cloudflare Tunnels (cloudflared)"
      gnetId: 17457
      revision: 6
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    speedtest-exporter-hub:
      url: https://raw.githubusercontent.com/MiguelNdeCarvalho/speedtest-exporter/8e4a39b9c0282102a9868f43b60dc99465dd0974/Dashboard/Speedtest-Exporter.json
      datasource:
        - name: datasource
          value: Prometheus
        - name: DS_PROMETHEUS
          value: Prometheus
    unifi-network-sites:
      # renovate: depName="UniFi-Poller: Network Sites - Prometheus"
      gnetId: 11311
      revision: 5
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    unifi-uap:
      # renovate: depName="UniFi-Poller: UAP Insights - Prometheus"
      gnetId: 11314
      revision: 10
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    unifi-usg:
      # renovate: depName="UniFi-Poller: USG Insights - Prometheus"
      gnetId: 11313
      revision: 9
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    unifi-usw:
      # renovate: depName="UniFi-Poller: USW Insights - Prometheus"
      gnetId: 11312
      revision: 9
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
  default:
    bambulabs:
      url: https://raw.githubusercontent.com/halkeye/Bambulabs-Exporter/02b74fc4e6aed1cef9a58a029ca6dcfc885c81bf/examples/grafana_dashboard.json
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    plex:
      url: https://raw.githubusercontent.com/jsclayton/prometheus-plex-exporter/aef192f1390f220f12b27a4cb0205c6319bb6253/examples/dashboards/Media%20Server.json
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    plex-media-exporter:
      url: https://raw.githubusercontent.com/axsuul/plex-media-server-exporter/ec31dee7de8a6622000710c70ba4a3595f8f7e0e/examples/grafana/dashboard.json
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    nut:
      url: https://raw.githubusercontent.com/halkeye/home-k8s/main/charts/nut-exporter/dashboard-nut-exporter.json
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    alertmanager:
      # renovate: depName="Alertmanager"
      gnetId: 9578
      revision: 4
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    nginx:
      # renovate: depName="nginx"
      gnetId: 14900
      revision: 2
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    traefik-standalone:
      # renovate: depName="Traefik"
      gnetId: 4475
      revision: 5
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    traefik-kubernetes:
      # renovate: depName="Traefik Official Kubernetes Dashboard"
      gnetId: 17347
      revision: 9
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    argocd:
      # renovate: depName="ArgoCD"
      gnetId: 14584
      revision: 1
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    vikunja:
      # renovate: depName="Vikunja"
      gnetId: 21928
      revision: 1
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
sidecar:
  dashboards:
    enabled: true
    searchNamespace: ALL
    labelValue: ""
    label: grafana_dashboard
    folderAnnotation: grafana_folder
    provider:
      disableDelete: true
      foldersFromFilesStructure: true
  datasources:
    enabled: true
    searchNamespace: ALL
    labelValue: ""
env:
  GF_DATE_FORMATS_USE_BROWSER_LOCALE: true
  GF_DEFAULT_INSTANCE_NAME: stats
  GF_SERVER_ROOT_URL: https://stats.g4v.dev
  GF_EXPLORE_ENABLED: true
  GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS: natel-discrete-panel,pr0ps-trackmap-panel,panodata-map-panel
envFromSecret: grafana-secrets
grafana.ini:
  analytics:
    check_for_updates: false
    check_for_plugin_updates: false
    reporting_enabled: true
  security:
    disable_initial_admin_creation: true
  news:
    news_feed_enabled: false
  auth:
    disable_login_form: true
    signout_redirect_url: https://auth.g4v.dev/application/o/grafana/end-session/
    oauth_allow_insecure_email_lookup: true
  auth.anonymous:
    enabled: false
    org_name: Main Org.
    org_role: Viewer
    hide_version: true
  auth.generic_oauth:
    auto_login: true
    name: authentik
    enabled: true
    scopes: openid email profile offline_access groups
    email_attribute_path: email
    login_attribute_path: preferred_username
    name_attribute_path: name
    auth_url: https://auth.g4v.dev/application/o/authorize/
    token_url: https://auth.g4v.dev/application/o/token/
    api_url: https://auth.g4v.dev/application/o/userinfo/
    # Optionally map user groups to Grafana roles
    role_attribute_path: contains(groups[*], 'Grafana Admins') && 'Admin' || contains(groups[*], 'Grafana Editors') && 'Editor' || 'Viewer'
