controllers:
  main:
    strategy: Recreate
    annotations:
      reloader.stakater.com/auto: 'true'
    containers:
      jellystat:
        image:
          repository: docker.io/cyfershepard/jellystat
          tag: unstable@sha256:abc012b4c76891db6dde5899da30ad134904e14b10355e3c2f4c8a791e3f4a9c
        env:
          TZ: America/Vancouver
          POSTGRES_DB:
            valueFrom:
              secretKeyRef:
                name: '{{ .Release.Name }}-db-secret-{{ .Release.Name }}'
                key: DATABASE_NAME
          POSTGRES_ROLE: "jellystat-group"
          POSTGRES_PORT:
            valueFrom:
              secretKeyRef:
                name: '{{ .Release.Name }}-db-secret-{{ .Release.Name }}'
                key: PORT
          POSTGRES_IP:
            valueFrom:
              secretKeyRef:
                name: '{{ .Release.Name }}-db-secret-{{ .Release.Name }}'
                key: HOST_NO_PORT
          POSTGRES_PASSWORD:
            valueFrom:
              secretKeyRef:
                name: '{{ .Release.Name }}-db-secret-{{ .Release.Name }}'
                key: PASSWORD
          POSTGRES_USER:
            valueFrom:
              secretKeyRef:
                name: '{{ .Release.Name }}-db-secret-{{ .Release.Name }}'
                key: LOGIN
        envFrom:
          - secretRef:
              name: '{{.Release.Name}}-secret'
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
service:
  main:
    controller: main
    ports:
      http:
        port: 3000
ingress:
  main:
    enabled: true
    annotations:
      gethomepage.dev/enabled: 'true'
      gethomepage.dev/group: Monitoring
      gethomepage.dev/name: Jelly Stats
    hosts:
      - host: jellystat.g4v.dev
        paths:
          - path: /
            service:
              identifier: main
              port: http
persistence:
  backend:
    type: emptyDir
    globalMounts:
      - path: /app/backend/backup-data
  tmp:
    type: emptyDir
