fullnameOverride: synapse
matrix-synapse:
  fullnameOverride: synapse
  image:
    repository: ghcr.io/halkeye/docker-synapse
    tag: v1.148.0.3

  postgresql:
    enabled: false

  config:
    publicBaseurl: 'https://matrix.g4v.dev'
    logLevel: ERROR
    reportStats: true

  gateway:
    enabled: true
    annotations:
      external-dns.alpha.kubernetes.io/cloudflare-proxied: 'false'
    hosts:
      - matrix.g4v.dev
    wkHosts:
      - matrix.g4v.dev
    csHosts:
      - matrix.g4v.dev
    includeUnderscoreSynapse: true
    parentRefs:
      - name: http-gateway
        namespace: envoy-gateway
        sectionName: https
    csPaths:
    - backendRefs:
        - kind: Service
          name: synapse
          port: 8008
      matches:
        - path:
            type: PathPrefix
            value: /_synapse/client/oidc

  externalPostgresql:
    database: synapse

  serverName: g4v.dev
  publicServerName: matrix.g4v.dev

  redis:
    enabled: true
    auth:
      enabled: true

  signingkey:
    job:
      enabled: false
    existingSecret: matrix-synapse-signingkey

  persistence:
    enabled: false

  extraConfig:
    experimental_features:
      msc3202_device_masquerading: true
    email:
      enable_notifs: false
      notif_from: 'Your Friendly %(app)s homeserver <noreply@g4v.dev>'
      client_base_url: 'http://chat.g4v.dev'
      smtp_host: smtp-relay.smtp-relay.svc.cluster.local
      smtp_port: 2525
    max_upload_size: 500M

    # Maximum number of pixels that will be thumbnailed
    max_image_pixels: 32M

    url_preview_enabled: true

    url_preview_ip_range_blacklist:
      - '127.0.0.0/8'
      - '10.0.0.0/8'
      - '172.16.0.0/12'
      - '192.168.0.0/16'
      - '100.64.0.0/10'
      - '169.254.0.0/16'
      - '::1/128'
      - 'fe80::/64'
      - 'fc00::/7'

    url_preview_url_blacklist:
      # blacklist any URL with a username in its URI
      - username: '*'
      # blacklist all *.google.com URLs
      - netloc: 'google.com'
      - netloc: '*.google.com'
      # blacklist all plain HTTP URLs
      - scheme: 'http'
      # blacklist http(s)://www.acme.com/foo
      - netloc: 'www.acme.com'
        path: '/foo'
      # blacklist any URL with a literal IPv4 address
      - netloc: '^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+$'

    app_service_config_files:
      - /synapse/config/appservices/whatsapp-registration.yaml
      - /synapse/config/appservices/whatsapp-doublepuppet.yaml
      - /synapse/config/appservices/googlechat-registration.yaml
      - /synapse/config/appservices/googlechat-doublepuppet.yaml
      - /synapse/config/appservices/signal-registration.yaml
      - /synapse/config/appservices/signal-doublepuppet.yaml
      - /synapse/config/appservices/mautrix-gmessages.yaml
      - /synapse/config/appservices/mautrix-gmessages-doublepuppet.yaml
      - /synapse/config/appservices/mautrix-linkedin.yaml
      - /synapse/config/appservices/mautrix-linkedin-doublepuppet.yaml
      - /synapse/config/appservices/mautrix-instagram.yaml
      - /synapse/config/appservices/mautrix-instagram-doublepuppet.yaml
    sso:
      client_whitelist:
        - https://chat.g4v.dev
        - https://chat2.g4v.dev
        - https://matrix.g4v.dev
        - https://g4v.dev
    presence:
      enabled: true

  synapse:
    annotations:
      reloader.stakater.com/auto: "true"
    extraVolumes:
      - name: appservices
        secret:
          secretName: synapse-appservice-registrations
      - name: extra-config
        secret:
          secretName: synapse-extra-config

    extraVolumeMounts:
      - name: appservices
        mountPath: /synapse/config/appservices
      - name: extra-config
        subPath: extraConfig.yaml
        mountPath: /synapse/config/conf.d/extraConfig.yaml

  workers:
    default:
      volumes:
        - name: appservices
          secret:
            secretName: synapse-appservice-registrations
        - name: extra-config
          secret:
            secretName: synapse-extra-config

      volumeMounts:
        - name: appservices
          mountPath: /synapse/config/appservices
        - name: extra-config
          subPath: extraConfig.yaml
          mountPath: /synapse/config/conf.d/extraConfig.yaml

    generic_worker:
      enabled: true
      replicaCount: 3

# these ones are for thisrepo, not synapse one
extraSecrets: {}
