---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
defaultPodOptions:
  enableServiceLinks: false
  securityContext:
    runAsUser: 1026
    runAsGroup: 100
    runAsNonRoot: true
    fsGroup: 100
    fsGroupChangePolicy: "OnRootMismatch"

controllers:
  navidrome:
    annotations:
      reloader.stakater.com/auto: "true"
      litestream: enabled
    containers:
      navidrome:
        image:
          repository: ghcr.io/navidrome/navidrome
          tag: 0.59.0
        env:
          TZ: America/Vancouver
          ND_DATAFOLDER: /config
          ND_ENABLEGRAVATAR: "true"
          ND_COVERJPEGQUALITY: "100"
          ND_DEFAULTTHEME: Dark
          ND_IMAGECACHESIZE: "1GB"
          ND_SEARCHFULLSTRING: "true"
          ND_SUBSONICARTISTPARTICIPATIONS: "true"
          ND_ENABLETRANSCODINGCONFIG: "true"
          ND_PORT: 8080
          ND_PROMETHEUS_ENABLED: "true"
          ND_REVERSEPROXYUSERHEADER: X-Vouch-User
          ND_REVERSEPROXYWHITELIST: 0.0.0.0/0
          ND_EXTAUTH_USERHEADER: X-Vouch-User
          ND_EXTAUTH_TRUSTEDSOURCES: "0.0.0.0/0"
          ND_SESSIONTIMEOUT: 24h
          ND_LASTFM_ENABLED: "true"
        envFrom:
          - secretRef:
              name: navidrome-secret
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
        resources:
          requests:
            cpu: 10m
            memory: 250Mi
          limits:
            memory: 1Gi

service:
  navidrome:
    controller: navidrome
    ports:
      http:
        port: 8080

ingress:
  navidrome:
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/group: Media
      gethomepage.dev/icon: https://raw.githubusercontent.com/homarr-labs/dashboard-icons/main/png/navidrome.png
      gethomepage.dev/name: Navidrome
      traefik.ingress.kubernetes.io/router.entrypoints: 'websecure'
      traefik.ingress.kubernetes.io/router.middlewares: 'traefik-ingress-authentik@kubernetescrd'
      nginx.ingress.kubernetes.io/auth-url: "https://vouch.g4v.dev/_oauth2/validate"
      nginx.ingress.kubernetes.io/auth-signin: "https://vouch.g4v.dev/_oauth2/login?url=$scheme://$http_host$request_uri&vouch-failcount=$auth_resp_failcount&X-Vouch-Token=$auth_resp_jwt&error=$auth_resp_err"
      nginx.ingress.kubernetes.io/server-snippet: real_ip_header CF-Connecting-IP;
      nginx.ingress.kubernetes.io/configuration-snippet: |
        real_ip_header CF-Connecting-IP;
      nginx.ingress.kubernetes.io/auth-response-headers: X-Vouch-User
      nginx.ingress.kubernetes.io/auth-snippet: |
        proxy_set_header X-Forwarded-Host $http_host;
        auth_request_set $auth_resp_x_vouch_user $upstream_http_x_vouch_user;
        auth_request_set $auth_resp_jwt $upstream_http_x_vouch_jwt;
        auth_request_set $auth_resp_err $upstream_http_x_vouch_err;
        auth_request_set $auth_resp_failcount $upstream_http_x_vouch_failcount;
    hosts:
      - host: navidrome.g4v.dev
        paths:
          - path: /
            service:
              identifier: navidrome
              port: http
  # navidrome-noauth:
  #   hosts:
  #     - host: navidrome.g4v.dev
  #       paths:
  #         - path: /share/
  #           service:
  #             identifier: navidrome
  #             port: http
  #         - path: /rest/
  #           service:
  #             identifier: navidrome
  #             port: http

persistence:
  data:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 10Gi
    globalMounts:
      - path: /config
  music:
    type: nfs
    server: 172.16.10.10
    path: /volume1/Audio/Music
    globalMounts:
      - path: /music
  configmap:
    type: configMap
    name: navidrome-configmap
    globalMounts:
      - path: /data/navidrome.toml
        subPath: navidrome.toml
        readOnly: true
  litestream-configmap:
    type: configMap
    name: litestream-configmap
    globalMounts: []
