apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

helmCharts:
  - name: app-template
    version: 4.6.2
    repo: https://bjw-s-labs.github.io/helm-charts
    valuesFile: values.yaml
    releaseName: valkey 
