controllers:
  valkey:
    type: statefulset
    containers:
      valkey:
        image:
          repository: ghcr.io/valkey-io/valkey
          tag: 9.0.2-alpine@sha256:68677f85c863830af7836ff07c4a13b7f085ebeff62f4dedb71499ca27d229f2
      exporter:
        image:
          repository: ghcr.io/oliver006/redis_exporter
          tag: v1.80.2

persistence:
  data:
    type: emptyDir

service:
  valkey:
    controller: valkey
    ports:
      valkey:
        port: 6379
      metrics:
        port: 9121

serviceMonitor:
  valkey:
    enabled: true
    serviceName: valkey
    endpoints:
      - port: metrics
        scheme: http
        path: /metrics
        relabelings:
        - sourceLabels: [__meta_kubernetes_pod_name]
          action: replace
          targetLabel: instance
          regex: (.*valkey.*)
