---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmGlobals:
  chartHome: ./charts/

resources:
  - https://raw.githubusercontent.com/OT-CONTAINER-KIT/redis-operator/v0.23.0/config/crd/bases/redis.redis.opstreelabs.in_redis.yaml
  - https://raw.githubusercontent.com/OT-CONTAINER-KIT/redis-operator/v0.23.0/config/crd/bases/redis.redis.opstreelabs.in_redisclusters.yaml
  - https://raw.githubusercontent.com/OT-CONTAINER-KIT/redis-operator/v0.23.0/config/crd/bases/redis.redis.opstreelabs.in_redissentinels.yaml
  - https://raw.githubusercontent.com/OT-CONTAINER-KIT/redis-operator/v0.23.0/config/crd/bases/redis.redis.opstreelabs.in_redisreplications.yaml

helmCharts:
  - name: redis-operator
    version: 0.23.0
    repo: https://ot-container-kit.github.io/helm-charts/
    valuesFile: ./values.yaml
    releaseName: redis-operator

