---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmGlobals:
  chartHome: ./charts/

generatorOptions:
  disableNameSuffixHash: true

helmCharts:
  - name: longhorn
    version: 1.10.1
    repo: https://charts.longhorn.io
    valuesFile: ./values.yaml
    releaseName: longhorn

resources:
  - ./secret.enc.yaml
