---
monitoring:
  enabled: true
  createPrometheusRules: true
serviceMonitor:
  enabled: true
defaultSettings:
  backupTarget: s3://halkeye-home-k8s-longhorn@tor1/
  backupTargetCredentialSecret: longhorn-secret
  createDefaultDiskLabeledNodes: true
  restoreVolumeRecurringJobs: true
  guaranteedEngineManagerCPU: 20
  guaranteedReplicaManagerCPU: 20
  orphanAutoDeletion: true
  defaultLonghornStaticStorageClass: longhorn
  nodeDownPodDeletionPolicy: delete-both-statefulset-and-deployment-pod
  taintToleration: CriticalAddonsOnly:Exists; node-role.kubernetes.io/control-plane:NoSchedule
ingress:
  enabled: true
  host: longhorn.g4v.dev
longhornDriver:
  tolerations: &tolerations
    - key: CriticalAddonsOnly
      operator: Exists
    - key: node-role.kubernetes.io/control-plane
      operator: Exists
      effect: NoSchedule
longhornManager:
  tolerations: *tolerations
