---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
defaultPodOptions:
  securityContext:
    runAsUser: 1000
    runAsGroup: 1000
    runAsNonRoot: true
    fsGroup: 1000
    fsGroupChangePolicy: "OnRootMismatch"

controllers:
  n8n:
    annotations:
      reloader.stakater.com/auto: "true"
    initContainers:
      init:
        image:
          repository: ghcr.io/n8n-io/n8n
          tag: 2.9.1
        command:
          - sh
          - -c
          - |-
              mkdir -p /home/node/.n8n/hooks/
              test -e /home/node/.n8n/hooks/n8n-hooks.js || \
                wget -O /home/node/.n8n/hooks/n8n-hooks.js https://raw.githubusercontent.com/cweagans/n8n-oidc/f2961d6c6ac103989f4920523b6d3faad7547bc2/hooks.js
    containers:
      app:
        image:
          repository: ghcr.io/n8n-io/n8n
          tag: 2.9.1
        env:
          TZ: America/Vancouver
          GENERIC_TIMEZONE: America/Vancouver
          DB_TYPE: postgresdb
          EXECUTIONS_DATA_PRUNE: true
          EXECUTIONS_DATA_MAX_AGE: 7
          EXECUTIONS_DATA_PRUNE_MAX_COUNT: 50000
          EXTERNAL_HOOK_FILES: /home/node/.n8n/hooks/n8n-hooks.js
          OIDC_ISSUER_URL: https://auth.g4v.dev/application/o/n8n/
          OIDC_REDIRECT_URI: https://n8n.g4v.dev/auth/oidc/callback
          N8N_ADDITIONAL_NON_UI_ROUTES: auth
          EXTERNAL_FRONTEND_HOOKS_URLS: /assets/oidc-frontend-hook.js
          WEBHOOK_URL: https://n8n.g4v.dev/
          WEBHOOK_TUNNEL_URL: https://n8n.g4v.dev/
          N8N_PROXY_HOPS: "1"
          N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: false
          N8N_PROTOCOL: "https"
          N8N_HOST: 0.0.0.0
          N8N_LOG_LEVEL: info
          N8N_LOG_OUTPUT: console
          N8N_RUNNERS_ENABLED: true
          DB_POSTGRESDB_HOST:
            valueFrom:
              secretKeyRef:
                name: "n8n-db-n8n"
                key: HOST_NO_PORT
          DB_POSTGRESDB_PORT:
            valueFrom:
              secretKeyRef:
                name: "n8n-db-n8n"
                key: PORT
          DB_POSTGRESDB_DATABASE:
            valueFrom:
              secretKeyRef:
                name: "n8n-db-n8n"
                key: DATABASE_NAME
          DB_POSTGRESDB_USER:
            valueFrom:
              secretKeyRef:
                name: "n8n-db-n8n"
                key: LOGIN
          DB_POSTGRESDB_PASSWORD:
            valueFrom:
              secretKeyRef:
                name: "n8n-db-n8n"
                key: PASSWORD
        envFrom:
          - secretRef:
              name: n8n
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: false
          capabilities: { drop: ["ALL"] }
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 512Mi
service:
  app:
    controller: n8n
    ports:
      http:
        port: 5678

ingress:
  app:
    hosts:
      - host: n8n.g4v.dev
        paths:
          - path: /
            service:
              identifier: app
              port: http

persistence:
  data:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 50Gi
    globalMounts:
      - path: /home/node/.n8n
  tmpfs:
    type: emptyDir
    globalMounts:
      - path: /tmp
        subPath: tmp
