ingress-nginx:
  namespaceOverride: "kube-system"
  fullnameOverride: "ingress-nginx"

  metrics:
    enabled: true
  rbac:
    create: true
  controller:
    ingressClassResource:
      default: true

    extraArgs:
      default-ssl-certificate: "kube-system/wildcard-do-g4v-tls"

    stats:
      enabled: true

    metrics:
      enabled: true
      port: 10254

    allowSnippetAnnotations: true

    config:
      denylist-source-range: "34.92.62.113"
      use-forwarded-headers: "true"
      use-proxy-protocol: "true"  # DigitalOcean loadbalancer
      allow-snippet-annotations: "true"
      enable-real-ip: "true"
      compute-full-forwarded-for: "true"
      annotations-risk-level: Critical
      # https://github.com/kubernetes/ingress-nginx/issues/11176
      strict-validate-path-type: "false"

    service:
      type: LoadBalancer
      externalTrafficPolicy: Local
      publishService:
        enabled: "true"
      annotations:
        external-dns.alpha.kubernetes.io/hostname: "g4v.dev"
        # external-dns.alpha.kubernetes.io/target: "157.230.74.194"
        prometheus.io/scrape: "true"
        prometheus.io/port: "10254"
        # Name for DO UI
        service.beta.kubernetes.io/do-loadbalancer-name: "do.g4v.dev"
        # Based on https://github.com/digitalocean/digitalocean-cloud-controller-manager/blob/master/docs/controllers/services/examples/https-with-pass-through-nginx.yml
        service.beta.kubernetes.io/do-loadbalancer-protocol: "http"
        service.beta.kubernetes.io/do-loadbalancer-tls-ports: "443"
        service.beta.kubernetes.io/do-loadbalancer-tls-passthrough: "true"
        service.beta.kubernetes.io/do-loadbalancer-enable-proxy-protocol: "true"
        # Fix some issues for internal references - see https://github.com/digitalocean/digitalocean-cloud-controller-manager/blob/master/docs/controllers/services/annotations.md#servicebetakubernetesiodo-loadbalancer-hostname
        # service.beta.kubernetes.io/do-loadbalancer-hostname: "do.g4v.dev"
        # Per https://github.com/digitalocean/digitalocean-cloud-controller-manager/blob/master/docs/controllers/services/annotations.md#servicebetakubernetesiodo-loadbalancer-http-ports
        service.beta.kubernetes.io/do-loadbalancer-http-ports: "80"
        # Default is round_robin - https://github.com/digitalocean/digitalocean-cloud-controller-manager/blob/master/docs/controllers/services/annotations.md#servicebetakubernetesiodo-loadbalancer-algorithm
        service.beta.kubernetes.io/do-loadbalancer-algorithm: "least_connections"

  defaultBackend:
    enabled: true
    image:
      repository: ghcr.io/tarampampam/error-pages
      tag: 3.8.0
    extraEnvs:
      # Optional: change the default theme
      - name: TEMPLATE_NAME
        value: l7
      # Optional: enables the output of additional information on error pages
      - name: SHOW_DETAILS
        value: 'false'
