# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  main:
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      main:
        image:
          repository: cloudflare/cloudflared
          tag: "2025.11.1"
        env:
          TZ: America/Vancouver
          NO_AUTOUPDATE: "true"
          # TUNNEL_CRED_FILE: /etc/cloudflared/creds/credentials.json
          TUNNEL_METRICS: 0.0.0.0:2000
          TUNNEL_TRANSPORT_PROTOCOL: quic
          TUNNEL_POST_QUANTUM: true
        args:
          - tunnel
          - --config
          - /etc/cloudflared/config/config.yaml
          - run
          - --token
          - "$(CLOUDFLARE_TUNNEL_SECRET)"
        envFrom:
          - secretRef:
              name: "cloudflared-secret"
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /ready
                port: 2000
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
          startup:
            enabled: false
        resources:
          limits: &resources
            memory: 1Gi
          requests:
            <<: *resources
            cpu: 10m
service:
  main:
    controller: main
    ports:
      http:
        port: 8080
      metrics:
        port: 2000
serviceMonitor:
  main:
    enabled: true
    endpoints:
      - port: metrics
        scheme: http
        path: /metrics
        interval: 1m
        scrapeTimeout: 1m
persistence:
  config:
    type: configMap
    name: cloudflared-configmap
    globalMounts:
      - path: /etc/cloudflared/config/config.yaml
        subPath: config.yaml
        readOnly: true
  credentials:
    type: secret
    name: cloudflared-secret
    globalMounts:
      - path: /etc/cloudflared/creds/credentials.json
        subPath: credentials.json
        readOnly: true
