# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
defaultPodOptions:
  securityContext:
    runAsGroup: 65534
    runAsUser: 65534
    runAsNonRoot: true

controllers:
  main:
    replicas: 1
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      main:
        image:
          repository: ghcr.io/usememos/memos
          tag: 0.26.2@sha256:3eefcc231141369accbd2f42bdc1a4c1e3b291fb6e288ff0deb60afa1b5d4727
        env:
          TZ: America/Vancouver
          MEMOS_MODE: "prod"
          MEMOS_INSTANCE_URL: https://memos.g4v.dev
          MEMOS_PORT: "5230" # https://github.com/usememos/memos/issues/1782
          MEMOS_DRIVER: postgres
          MEMOS_DSN:
            valueFrom:
              secretKeyRef:
                name: "memos-db-secret-memos"
                key: DB_URL
        envFrom:
          - secretRef:
              name: "memos-secret"
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop: ["ALL"]
        resources:
          requests:
            cpu: 25m
            memory: 105M
service:
  main:
    controller: main
    ports:
      http:
        port: 5230
serviceMonitor:
  main:
    enabled: true
    endpoints:
      - port: metrics
        scheme: http
        path: /metrics
        interval: 1m
        scrapeTimeout: 1m
route:
  main:
    enabled: true
    parentRefs:
      - name: http-gateway
        namespace: envoy-gateway
        sectionName: https
    hostnames:
      - "memos.g4v.dev"
    rules:
      - matches:
        - path:
            type: PathPrefix
            value: /
        backendRefs:
          - identifier: main
            port: http
persistence:
  tmp:
    enabled: true
    type: emptyDir
