---
apiVersion: db.movetokube.com/v1alpha1
kind: PostgresUser
metadata:
  name: anime-sonarr
  annotations:
    postgres.db.movetokube.com/instance: postgres17-rw
spec:
  role: anime-sonarr-group
  database: anime-sonarr-main
  secretName: anime-sonarr-db-secret
  privileges: OWNER
  secretTemplate:
    HOST_NO_PORT: "{{ .Hostname }}"
    PORT: "{{ .Port }}"

