controllers:
  main:
    strategy: Recreate
    replicas: 1
    containers:
      app:
        image:
          repository: ghcr.io/meeb/bandcampsync
          tag: latest@sha256:58d772ec4e42092c0d57d9b9fa45b947d305656fdde6b61fc0c42efefcb164a3
        env:
          TZ: America/Vancouver
          IGNORES_FILE: /ignores/ignores.txt
        command:
          - bandcampsync-service
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop: ['ALL']
        resources:
          limits:
            memory: 1Gi
          requests:
            memory: 256Mi
            cpu: 10m
    pod:
      securityContext:
        runAsUser: 1026
        runAsGroup: 100
        runAsNonRoot: true
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
persistence:
  tmp:
    type: emptyDir
  config:
    enabled: true
    type: secret
    name: 'bandcampsync-secret'
  ignores:
    enabled: true
    suffix: config
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    storageClass: nas-apps
    size: 1Gi
  downloads:
    type: nfs
    server: 172.16.10.10
    path: /volume1/Audio/Bandcamp
