---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmGlobals:
  chartHome: ./charts/

helmCharts:
  - name: sops-secrets-operator
    version: 0.24.1
    repo: https://isindir.github.io/sops-secrets-operator/
    valuesFile: ./values.yaml
    releaseName: sops-secrets-operator

patches:
  - target:
      group: rbac.authorization.k8s.io
      version: v1
      kind: ClusterRoleBinding
      name: sops-secrets-operator
    patch: |-
      - op: replace
        path: /subjects/0/namespace
        value: sops-secrets-operator

resources:
  - https://raw.githubusercontent.com/isindir/sops-secrets-operator/147febf336f14bb2546eec020680ce1b2a2e96f1/config/crd/bases/isindir.github.com_sopssecrets.yaml

generators:
  - ./secret-generator.yaml
