# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
app-template:
  controllers:
    main:
      containers:
        main:
          image:
            repository: ghcr.io/prymitive/karma
            tag: v0.125@sha256:1e893dc445ccb878a3a7880a4b0da53b6ac4e04096c654ff349c2d63eccdf588
          env:
            TZ: America/Vancouver
            ALERTMANAGER_URI: http://alertmanager-operated.monitoring.svc.cluster.local.:9093
          probes:
            liveness: &probes
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /health
                  port: 8080
                initialDelaySeconds: 0
                periodSeconds: 10
                timeoutSeconds: 1
                failureThreshold: 3
            readiness: *probes
            startup:
              enabled: false
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop: ["ALL"]
          resources:
            limits: &resources
              memory: 128Mi
            requests:
              <<: *resources
              cpu: 10m
      pod:
        securityContext:
          runAsUser: 568
          runAsGroup: 568
          runAsNonRoot: true
          fsGroup: 568
          fsGroupChangePolicy: OnRootMismatch
  service:
    main:
      controller: main
      ports:
        http:
          port: 8080
  ingress:
    main:
      enabled: true
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Monitoring
        gethomepage.dev/icon: https://raw.githubusercontent.com/walkxcode/dashboard-icons/master/png/prometheus.png
        gethomepage.dev/name: Karma
      hosts:
        - host: &host karma.h.g4v.dev
          paths:
            - path: /
              service:
                identifier: main
                port: http
