app-template:
  controllers:
    main:
      containers:
        vaultwarden:
          image:
            repository: vaultwarden/server
            tag: 1.35.3@sha256:1ca2e2098ba9ab9e46004f4ee61a3be6080ffee3ed41018a95c4b0fb6454a54b
          env:
            PUSH_ENABLED: true
            DOMAIN: "https://bitwarden.g4v.dev"
            TZ: "America/Vancouver"
            SIGNUPS_ALLOWED: "false"
            WEBSOCKET_ENABLED: "true"
            WEBSOCKET_ADDRESS: 0.0.0.0
            WEBSOCKET_PORT: 3012
            ROCKET_PORT: 8000
            DATA_FOLDER: data
            ICON_CACHE_FOLDER: data/icon_cache
            ATTACHMENTS_FOLDER: data/attachments
          envFrom:
            - secretRef:
                name: "{{.Release.Name}}-secret"
          probes:
            liveness: &probes
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /alive
                  port: 8000
                initialDelaySeconds: 0
                periodSeconds: 10
                timeoutSeconds: 1
                failureThreshold: 3
            readiness: *probes
            startup:
              enabled: false
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop: ["ALL"]
          resources:
            requests:
              cpu: 10m
              memory: 126Mi
            limits:
              memory: 256Mi
      pod:
        securityContext:
          runAsUser: 568
          runAsGroup: 568
          runAsNonRoot: true
          fsGroup: 568
          fsGroupChangePolicy: OnRootMismatch
  service:
    main:
      controller: main
      ports:
        http:
          port: 8000
        ws:
          port: 3012
  ingress:
    main:
      enabled: true
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Security
        gethomepage.dev/icon: https://raw.githubusercontent.com/walkxcode/dashboard-icons/master/png/vaultwarden.png
        gethomepage.dev/name: Vault Warden
      hosts:
        - host: bitwarden.g4v.dev
          paths:
            - path: /
              service:
                identifier: main
                port: http
            - path: /notifications/hub
              service:
                identifier: main
                port: ws
  persistence:
    data:
      type: emptyDir
