---
apiVersion: db.movetokube.com/v1alpha1
kind: Postgres
metadata:
  name: audiomuse
  annotations:
    postgres.db.movetokube.com/instance: postgres17-rw
spec:
  database: audiomuse
  dropOnDelete: false
---
apiVersion: db.movetokube.com/v1alpha1
kind: PostgresUser
metadata:
  name: audiomuse
  annotations:
    postgres.db.movetokube.com/instance: postgres17-rw
spec:
  role: audiomuse
  database: audiomuse
  secretName: audiomuse-db-secret
  privileges: OWNER
  secretTemplate:
    HOST_NO_PORT: "{{ .Hostname }}"
    PORT: "{{ .Port }}"
