controllers:
  main:
    strategy: RollingUpdate
    annotations:
      reloader.stakater.com/auto: 'true'
    containers:
      libmedium:
        image:
          repository: realaravinth/libmedium
          tag: latest@sha256:3ab8addf2e78c69ca26b3df6305667541b0cbddbc473401199311650aa298478
        env:
          TZ: America/Vancouver
          LOG_LEVEL: 'info'
          PORT: '7000'
        probes:
          liveness: &probes
            enabled: false
          readiness: *probes
          startup: *probes
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop: ['ALL']
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
          limits:
            memory: 100Mi
    pod:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        runAsNonRoot: true
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
service:
  main:
    controller: main
    ports:
      http:
        port: 7000
route:
  main:
    enabled: true
    parentRefs:
      - name: http-gateway
        namespace: envoy-gateway
        sectionName: https
    hostnames:
      - "libmedium.g4v.dev"
    rules:
      - backendRefs:
          - identifier: main
            port: http
            weight: 1
persistence:
  config:
    enabled: true
    type: configMap
    name: libmedium
    globalMounts:
      - path: /etc/libmedium/config.toml
        subPath: config.toml
        readOnly: true
  cache:
    enabled: true
    type: emptyDir
