apiVersion: v1
kind: ConfigMap
metadata:
  name: "frigate-config"
data:
  config.yml: |-
    ---
    mqtt:
      enabled: true
      host: mqtt.int.g4v.dev
      topic_prefix: frigate
      user: "{FRIGATE_MQTT_USERNAME}"
      password: "{FRIGATE_MQTT_PASSWORD}"
    database:
      path: /data/frigate.db

    detectors:
      coral:
        type: edgetpu
        device: usb

    ffmpeg:
      # global_args: ["-hide_banner", "-loglevel", "warning"]
      hwaccel_args: preset-vaapi
      # hwaccel_args: ["-hwaccel", "vaapi", "-hwaccel_device", "/dev/dri/renderD128", "-hwaccel_output_format", "yuv420p"]

    logger:
      default: info

    objects:
      track:
        - person
        - cat
        - dog

    snapshots:
      enabled: true
      timestamp: false
      bounding_box: true
      retain:
        default: 2

    record:
      enabled: true
      retain:
        days: 5
        mode: all

    go2rtc:
      log:
        exec: trace
      streams:
        frontdoor: rtsp://frigate:{FRIGATE_RTSP_PASSWORD}@AMC06459DF44FA44C2.dhcp.home:554/cam/realmonitor?channel=1&subtype=0
        bambuX1C_camera: rtsps://{FRIGATE_BAMBULABS_USERNAME}:{FRIGATE_BAMBULABS_PASSWORD}@{FRIGATE_BAMBULABS_IP}:322/streaming/live/1
      candidates:
        - "{FRIGATE_KUBE_HOST_IP}:8555"
        - external-frigate-stream.g4v.dev:8555
        - 172.16.10.50:8555
        - stun:8555

    cameras:
      frontdoor:
        ffmpeg:
          inputs:
            - path: rtsp://frigate:{FRIGATE_RTSP_PASSWORD}@AMC06459DF44FA44C2.dhcp.home:554/cam/realmonitor?channel=1&subtype=1
              roles:
                - detect
                - audio
            - path: rtsp://frigate:{FRIGATE_RTSP_PASSWORD}@AMC06459DF44FA44C2.dhcp.home:554/live
              roles:
                - record
      bambuX1C_camera:
        ffmpeg:
          inputs:
            - path: rtsps://{FRIGATE_BAMBULABS_USERNAME}:{FRIGATE_BAMBULABS_PASSWORD}@{FRIGATE_BAMBULABS_IP}:322/streaming/live/1
              roles:
                - record
