---
apiVersion: db.movetokube.com/v1alpha1
kind: PostgresUser
metadata:
  name: autobrr
  annotations:
    postgres.db.movetokube.com/instance: postgres17-rw
spec:
  role: autobrr-group
  database: autobrr
  secretName: autobrr-db-secret
  privileges: OWNER
  secretTemplate:
    HOST_NO_PORT: "{{ .Hostname }}"
    PORT: "{{ .Port }}"
