# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  main:
    replicas: 0
    containers:
      main:
        image:
          repository: frooodle/s-pdf
          tag: 2.0.3
        # command:
        #   - java
        #   - -Dfile.encoding=UTF-8
        #   - -jar
        #   - /app.jar
        env:
          SECURITY_ENABLELOGIN: 'false'
          DOCKER_ENABLE_SECURITY: 'false'
          STIRLING_PDF_DESKTOP_UI: 'false'
          STIRLING_TEMPFILES_DIRECTORY: /tmp/stirling-pdf
          TMPDIR: /tmp/stirling-pdf
          TEMP: /tmp/stirling-pdf
          TMP: /tmp/stirling-pdf
        probes:
          liveness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /api/v1/info/status
                port: 8080
          readiness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /api/v1/info/status
                port: 8080
          startup:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /api/v1/info/status
                port: 8080
        securityContext:
          allowPrivilegeEscalation: true
          readOnlyRootFilesystem: false
          capabilities:
            drop: ["ALL"]
        resources:
          requests:
            cpu: 25m
            memory: 128Mi
          limits:
            memory: 1Gi
    pod:
      securityContext:
        runAsUser: 102
        runAsGroup: 103
        runAsNonRoot: true
        fsGroup: 103
        fsGroupChangePolicy: OnRootMismatch
service:
  main:
    controller: main
    ports:
      http:
        port: 8080
ingress:
  main:
    enabled: true
    annotations:
      nginx.ingress.kubernetes.io/proxy-body-size: '1024M'
      gethomepage.dev/enabled: "true"
      gethomepage.dev/group: Tools
      gethomepage.dev/icon: https://raw.githubusercontent.com/walkxcode/dashboard-icons/master/png/stirling-pdf.png
      gethomepage.dev/name: Stirling PDF
      traefik.ingress.kubernetes.io/router.entrypoints: 'websecure'
      traefik.ingress.kubernetes.io/router.middlewares: 'traefik-ingress-authentik@kubernetescrd'
      nginx.ingress.kubernetes.io/auth-url: "https://vouch.g4v.dev/_oauth2/validate"
      nginx.ingress.kubernetes.io/auth-signin: "https://vouch.g4v.dev/_oauth2/login?url=$scheme://$http_host$request_uri&vouch-failcount=$auth_resp_failcount&X-Vouch-Token=$auth_resp_jwt&error=$auth_resp_err"
      nginx.ingress.kubernetes.io/server-snippet: real_ip_header CF-Connecting-IP;
      nginx.ingress.kubernetes.io/configuration-snippet: |
        real_ip_header CF-Connecting-IP;
      nginx.ingress.kubernetes.io/auth-response-headers: X-Vouch-User
      nginx.ingress.kubernetes.io/auth-snippet: |
        proxy_set_header X-Forwarded-Host $http_host;
        auth_request_set $auth_resp_x_vouch_user $upstream_http_x_vouch_user;
        auth_request_set $auth_resp_jwt $upstream_http_x_vouch_jwt;
        auth_request_set $auth_resp_err $upstream_http_x_vouch_err;
        auth_request_set $auth_resp_failcount $upstream_http_x_vouch_failcount;
    hosts:
      - host: "pdf.g4v.dev"
        paths:
          - path: /
            service:
              identifier: main
              port: http
persistence:
  # configs:
  #   enabled: true
  #   type: persistentVolumeClaim
  #   accessMode: ReadWriteOnce
  #   size: 1Gi
  configs:
    enabled: true
    type: emptyDir
    globalMounts:
      - path: /configs
  tmp:
    enabled: true
    type: emptyDir
    globalMounts:
      - path: /tmp
  logs:
    enabled: true
    type: emptyDir
    globalMounts:
      - path: /logs
  # data:
  #   enabled: true
  #   type: emptyDir
  #   globalMounts:
  #     - path: /data
  customfiles:
    enabled: true
    type: emptyDir
    globalMounts:
      - path: /./customFiles
  pipeline:
    enabled: true
    type: emptyDir
    globalMounts:
      - path: /./pipeline
  tessdata:
    enabled: true
    type: emptyDir
    globalMounts:
      - path: /usr/share/tessdata
