# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  main:
    replicas: 1
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      main:
        image:
          repository: ghcr.io/home-operations/prowlarr
          tag: 2.3.1.5238
        env:
          # https://github.com/Radarr/Radarr/issues/7030#issuecomment-1039689518
          # https://github.com/dotnet/runtime/issues/9336
          COMPlus_EnableDiagnostics: "0"
          PROWLARR__APP__INSTANCENAME: Prowlarr
          PROWLARR__LOG__LEVEL: info
          PROWLARR__AUTH__METHOD: External
          PROWLARR__AUTH__REQUIRED: DisabledForLocalAddresses
          PROWLARR__THEME: auto
          TZ: America/Vancouver
          PROWLARR__POSTGRES__USER:
            valueFrom:
              secretKeyRef:
                name: prowlarr-db-secret-prowlarr
                key: LOGIN
          PROWLARR__POSTGRES__PASSWORD:
            valueFrom:
              secretKeyRef:
                name: prowlarr-db-secret-prowlarr
                key: PASSWORD
          PROWLARR__POSTGRES__PORT: "5432"
          PROWLARR__POSTGRES__HOST:
            valueFrom:
              secretKeyRef:
                name: prowlarr-db-secret-prowlarr
                key: HOST
          PROWLARR__POSTGRES__MAINDB: "prowlarr_main"
          PROWLARR__POSTGRES__LOGDB: "prowlarr_log"
        envFrom:
          - secretRef:
              name: prowlarr-secret
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /ping
                port: 9696
              initialDelaySeconds: 15
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
          startup:
            enabled: false
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop: ["ALL"]
        resources:
          limits: &resources
            memory: 512Mi
          requests:
            <<: *resources
            cpu: 10m
      exportarr:
        image:
          repository: ghcr.io/onedr0p/exportarr
          tag: v2.3.0
        args:
          - prowlarr
        env:
          PORT: 9707
          URL: http://localhost:9696
          APIKEY:
            valueFrom:
              secretKeyRef:
                name: prowlarr-secret
                key: PROWLARR__AUTH__APIKEY
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 128Mi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop: ["ALL"]
    pod:
      securityContext:
        runAsUser: 1026
        runAsGroup: 100
        runAsNonRoot: true
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
service:
  main:
    controller: main
    ports:
      http:
        port: 9696
      metrics:
        port: 9707
serviceMonitor:
  main:
    enabled: true
    serviceName: '{{ include "bjw-s.common.lib.chart.names.fullname" $ }}'
    endpoints:
      - port: metrics
        scheme: http
        path: /metrics
        interval: 1m
        scrapeTimeout: 1m
ingress:
  main:
    enabled: true
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/group: Media Fetchers
      gethomepage.dev/icon: https://raw.githubusercontent.com/walkxcode/dashboard-icons/master/png/prowlarr.png
      gethomepage.dev/name: Prowlarr
    hosts:
      - host: "prowlarr.g4v.dev"
        paths:
          - path: /
            service:
              identifier: main
              port: http
persistence:
  config:
    enabled: true
    type: emptyDir
  tmp:
    enabled: true
    type: emptyDir
