---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmGlobals:
  chartHome: ./charts/

generatorOptions:
  disableNameSuffixHash: true

helmCharts:
  - name: prometheus-blackbox-exporter
    version: 11.5.0
    repo: https://prometheus-community.github.io/helm-charts
    valuesFile: values.yaml
    releaseName: blackbox-exporter
