fullnameOverride: blackbox-exporter
securityContext:
  capabilities:
    add: ['NET_RAW']
podSecurityContext:
  sysctls:
    - name: net.ipv4.ping_group_range
      value: '0 65536'
pspEnabled: false
config:
  modules:
    http_2xx:
      prober: http
      timeout: 5s
      http:
        valid_http_versions:
          - 'HTTP/1.1'
          - 'HTTP/2.0'
        follow_redirects: true
        preferred_ip_protocol: 'ip4'
    icmp:
      prober: icmp
      timeout: 30s
      icmp:
        preferred_ip_protocol: 'ip4'
    tcp_connect:
      prober: tcp
      timeout: 5s
      tcp:
        preferred_ip_protocol: 'ip4'
dnsConfig:
  options:
    - name: ndots
      value: '1'
podAnnotations:
  reloader.stakater.com/auto: 'true'
resources:
  requests:
    cpu: 10m
    memory: 64M
  limits:
    memory: 64M
serviceMonitor:
  enabled: true
  defaults:
    labels:
      release: prometheus
    interval: 30s
    scrapeTimeout: 30s
  targets:
    # Inform IP
    - name: informer-ip
      url: 165.227.241.29
      module: icmp
    # Nas
    - name: nas
      url: synology.dhcp.home
      module: icmp
    # Home DNS
    - name: home-dns
      url: home-dns.dhcp.home
      module: icmp
    # Printer
    # - name: printer
    #   url: printer.dhcp.home
    #   module: icmp
    - name: blinds-controller-1
      url: blinds_controller_1.dhcp.home
      module: icmp
prometheusRule:
  enabled: true
  additionalLabels:
    app: prometheus-operator
    release: prometheus
  rules:
    - alert: BlackboxSslCertificateWillExpireSoon
      expr: probe_ssl_earliest_cert_expiry - time() < 86400 * 3
      for: 15m
      labels:
        severity: critical
      annotations:
        description: |-
          The SSL certificate for {{ $labels.instance }} will expire in less than 3 days
    - alert: BlackboxSslCertificateExpired
      expr: probe_ssl_earliest_cert_expiry - time() <= 0
      for: 15m
      labels:
        severity: critical
      annotations:
        description: |-
          The SSL certificate for {{ $labels.instance }} has expired
    - alert: BlackboxProbeFailed
      expr: probe_success == 0
      for: 5m
      labels:
        severity: critical
      annotations:
        description: |-
          The host {{ $labels.instance }} is currently unreachable
    - alert: SlowResponseTime
      annotations:
        message: The response time for {{ $labels.instance }} has been greater than 30 seconds for 5 minutes.
      expr: probe_duration_seconds > 30
      for: 5m
      labels:
        severity: warning
