name: Lint and Test Charts

on:
  pull_request:
  push:

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4
        with:
          version: v3.12.1

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: '3.14'
          check-latest: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@6ec842c01de15ebb84c8627d2744a0c2f2755c9f # v2.8.0
        with:
          version: 3.13.0
          yamale_version: 6.0.0
          yamllint_version: 1.37.1

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --chart-dirs charts --target-branch ${{ github.event.repository.default_branch }})
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Run chart-testing (lint)
        if: steps.list-changed.outputs.changed == 'true'
        run: ct lint --check-version-increment=false --chart-dirs charts --target-branch ${{ github.event.repository.default_branch }}

      #- name: Add repositories
      #  run: |
      #    (for dir in $(ls -d upstream/*/ charts/*/); do helm dependency list $dir 2> /dev/null | grep -v 'file://' | tail +2 | head -n -1 | egrep -v '^$' | awk '{ print "helm repo add " $1 " " $3 }'; done) | sort | uniq | while read cmd; do $cmd; done

      #- name: Create kind cluster
      #  if: steps.list-changed.outputs.changed == 'true'
      #  uses: helm/kind-action@v1.8.0

      #- name: Run chart-testing (install)
      #  if: steps.list-changed.outputs.changed == 'true'
      #  run: ct install --chart-dirs charts --target-branch ${{ github.event.repository.default_branch }}
