# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
fullnameOverride: nut-exporter
controllers:
  main:
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      main:
        image:
          repository: ghcr.io/druggeri/nut_exporter
          tag: "3.2.2"
        env:
          TZ: America/Vancouver
          NUT_EXPORTER_PASSWORD:
            valueFrom:
              secretKeyRef:
                name: "nut-exporter-secret"
                key: NUT_EXPORTER_PASSWORD
        args:
          - "--nut.server=172.16.10.10"
          - "--nut.username=monuser"
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop: ["ALL"]
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
          limits:
            memory: 100Mi
service:
  main:
    controller: main
    ports:
      http:
        port: 9199
serviceMonitor:
  main:
    enabled: true
    serviceName: '{{ include "bjw-s.common.lib.chart.names.fullname" $ }}'
    endpoints:
      - port: http
        scheme: http
        path: /ups_metrics
      - port: http
        scheme: http
        path: /metrics
