---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: g4v-do-wildcard-certificate
spec:
  dnsNames:
    - '*.g4v.dev'
    - '*.do.g4v.dev'
  commonName: "*.g4v.dev"
  issuerRef:
    name: acme-letsencrypt-prod
    kind: ClusterIssuer
  secretName: wildcard-do-g4v-tls
