---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmGlobals:
  chartHome: ./charts/

generatorOptions:
  disableNameSuffixHash: true

helmCharts:
  - name: tailscale-operator
    version: 1.90.8
    repo: https://pkgs.tailscale.com/helmcharts/
    valuesFile: ./values.yaml
    releaseName: tailscale-operator

resources:
  - ./secret.enc.yaml
  - ./resources/service-home-proxy.yaml
  - ./resources/service-ollama.yaml
  - ./resources/proxyclass-userspace.yaml
  - ./resources/proxyclass-accept-routes.yaml
